.container {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    width: calc(100% - 30px);
    max-width: 100%;
    box-sizing: border-box;
    min-height: 1px
}

@media (min-width: 375px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: calc(100% - 30px);
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px
    }
}

@media (min-width: 768px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: calc(100% - 80px);
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px
    }
}

@media (min-width: 1024px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: calc(100% - 120px);
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px
    }
}

@media (min-width: 1256px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        width: 1136px;
        max-width: 100%;
        box-sizing: border-box;
        min-height: 1px
    }
}

.container-full {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    width: 100%
}
