.layout-navigation-primary__menu__item {
    position: relative;
    display: inline-block;
    margin: 6px 10px 0;
    padding: 14px 6px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #424242;
    cursor: pointer
}

.layout-navigation-primary__menu__item.focus-visible:focus {
    color: #35c5f0
}

@media (min-width: 768px) {
    .layout-navigation-primary__menu__item:active, .layout-navigation-primary__menu__item:hover {
        color: #35c5f0
    }
}

.layout-navigation-primary__menu__item::-moz-focus-inner {
    border: 0
}

.layout-navigation-primary__menu__item.focus-visible:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(130, 224, 250, .5);
    border-radius: 3px
}

.layout-navigation-primary__menu__item--active, .layout-navigation-primary__menu__item--open {
    color: #35c5f0
}

.layout-navigation-primary__menu__item--open:after, .layout-navigation-primary__menu__item--open:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid
}

.layout-navigation-primary__menu__item--open:before {
    margin: 1px 0 0 -5px;
    border-width: 0 5px 10px;
    border-color: transparent transparent #dbdbdb
}

.layout-navigation-primary__menu__item--open:after {
    margin: 2px 0 0 -4px;
    border-width: 0 4.5px 9px;
    border-color: transparent transparent #fff;
    transform: translateX(-.5px)
}

.layout-navigation-primary {
    transition: top .1s;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    z-index: 502
}

.layout-navigation-primary__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    position: relative;
    height: 50px;
    box-sizing: border-box;
    padding: 0 8px;
    margin: 0 auto
}

@media (min-width: 768px) {
    .layout-navigation-primary__content {
        height: 80px;
        padding: 10px 40px;
        max-width: 1256px
    }
}

@media (min-width: 1024px) {
    .layout-navigation-primary__content {
        padding: 10px 60px
    }
}

.layout-navigation-primary__leftmost {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 5px
}

@media (min-width: 768px) {
    .layout-navigation-primary__leftmost {
        display: none
    }
}
.layout-navigation-primary__left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0
}

@media (min-width: 768px) {
    .layout-navigation-primary__left {
        position: static;
        margin-right: 35px;
        transform: none
    }
}

.layout-navigation-primary__right {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    position: absolute;
    right: 8px
}

@media (min-width: 768px) {
    .layout-navigation-primary__right {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -moz-box-flex: 1;
        -moz-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        position: static
    }
}

.layout-navigation-primary__menu {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: none
}

@media (min-width: 768px) {
    .layout-navigation-primary__menu {
        display: block
    }
}
<!--두번째 메뉴바->