
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="headerFragment">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 xs-12 md-auto">
                <nav class="navbar navbar-icon-top navbar-expand-lg navbar-light" style="background-color: white;">
                    <a class="navbar-brand" href="#"><img th:src="@{icon/thehouse.jpg}" class="rounded-circle" width=50px
                                                          height=50px /> <b> TheHouse</b></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">

                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">

                                    커뮤니티
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">커뮤니티홈</a>
                                    <a class="dropdown-item" href="#">질문</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">

                                    스토어
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">스토어홈</a>
                                    <a class="dropdown-item" href="#">카테고리</a>
                                    <a class="dropdown-item" href="#">베스트</a>
                                </div>


                            </li>



                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">

                                    Disabled
                                </a>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">

                                    Dropdown
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Action</a>
                                </div>
                            </li>

                            <div class="nav-wrapper">
                                <form class="form-inline ml-0 ml-md-3">
                                    <div class="input-group input-group-sm">
                                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                        <div class="input-group-append">
                                            <button class="btn btn-navbar" type="submit">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ul>

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="##">
                                    <span class="asdf" style="font-size: 16px; color: black;">
                                        <i class="fas fa-shopping-cart"> 장바구니</i>
                                    </span>
                                </a>
                            </li>


                            <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/customLogin}">
                                <button sec:authorize="isAnonymous()" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">로그인</button>
                            </form>
                            <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/customLogout}">
                                <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">로그아웃</button>
                            </form>
                            <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/signup}">
                                <button sec:authorize="isAnonymous()" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">회원가입</button>
                            </form>
                            <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/mypage}">
                                <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">마이페이지</button>
                            </form>
<!--                            <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/customLogout}">-->
<!--                                <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">로그아웃</button>-->
<!--                                <button sec:authorize="isAnonymous()" th:href="@{/customLogin}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">로그인</button>-->

<!--                            </form>-->




<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" href="###">-->
<!--                                    <span class="asdf" style="font-size: 16px; color: black;">-->
<!--                                        <i class="fas fa-sign-in-alt"> 로그인</i>-->

<!--                                    </span>-->
<!--                                </a>-->
<!--                            </li>-->

<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" href="#####">-->
<!--                                    <span style="font-size: 16px; color: black;">-->
<!--                                        <i class="fas fa-user-circle"> 회원가입</i>-->

<!--                                    </span>-->
<!--                                </a>-->
<!--                            </li>-->

                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

</html>