<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div th:fragment="navBar_myPage">
    <div class="w3-container">
        <div class="w3-bar">
            <a href=""
               class="w3-bar-item w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-blue w3-hover-text-blue">프로필</a>
            <a th:href="@{/order_list}"
               class="w3-bar-item w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-blue w3-hover-text-blue">마이쇼핑</a>
            <a th:href="@{/settings}"
               class="w3-bar-item w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-blue w3-hover-text-blue">설정</a>
        </div>
    </div>
</div>
