<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사용자 프로필</title>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" th:src="@{/js/profile.js}"></script>
</head>

<body>
<div class="container">
    <div class="form-group">
        <img th:src="@{'/uploadImg'+${memprofile.memberImg}}" style="width: 300px; height: 300px;"/>
    </div>
    <div class="form-group">
        <p><h3><th:block th:text="${memprofile.memberId}" id="foll" name="foll"/></h3></p>
    </div>
    <div class="form-group">
        <p>팔로워<th:block th:text="${followCount}"></th:block>
            팔로잉<th:block th:text="${followingCount}"></th:block></p>
    </div>
    <div class="form-group">
        <input type="button" th:if="${fcount == 0}" id="follow" name="follow" value="팔로우">
        <input type="button" th:if="${fcount == 1}" id="followcancel" name="followcancel" value="팔로우취소">
        <input type="button" id="notesend" name="notesend" value="쪽지보내기">
    </div>
    <div class="form-group">
        <th:block th:text="${memprofile.memberIntro}"/>
    </div>
</div>

<!--<div class="container">
    <div class="form-group">
        <h3>사진<th:block th:text="${photoCount}"/></h3>
    </div>
    <div class="form-group">
        <th:block th:each="userphoto : ${memphoto}">
            <tr th:onclick="" >&lt;!&ndash; photodetail로 이동&ndash;&gt;
                <td th:text="${userphoto.photoImg1}"/>
            </tr>
        </th:block>
    </div>
    <div class="form-group">
        <h3>스크랩<th:block th:text="${scrapCount}"/></h3>
    </div>
    <div class="form-group">
        <th:block th:each="userscrap : ${memscrap}">
            <tr th:onclick="">&lt;!&ndash; photodetail로 이동&ndash;&gt;
                <td th:text="${userscrap.photoImg1}"/>
            </tr>
        </th:block>
    </div>-->
</div>

</body>
</html>