<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="th/layout/defaultLayout">
<head>
    <meta charset="UTF-8">
    <title>보낸 쪽지함</title>

    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" th:src="@{/js/profile.js}"></script>
</head>
<body>

<h2>보낸 쪽지함</h2>

<div class="container">
    <form action="/noteSending" method="post" id="sending" name="sending">

    <input type="button" id="send" name="send" value="쪽지보내기">
    <input type="button" id="delete" name="delete" value="삭제">

    <table class="table table-hover">
        <tr>
            <th><input type="checkbox" name="allcheck" id="allcheck"/></th>
            <th>쪽지내용</th>
            <th>받은사람</th>
        </tr>

        <th:block th:each="receive : ${receiveNote}">
            <tr>
                <td class="select_note">
                    <input type="checkbox" name="check" id="check" class="check" th:data-No="${receive.msgNo}"
                    th:data-sendId="${receive.receiveId}"/>
                </td>
                <td th:onclick="'javascript: '" th:text="${receive.msgContent}"/><!-- onclick ajax로 연결 --></td>
                <td th:text="${receive.receiveId}"/>
            </tr>
        </th:block>
    </table>
        <input type="hidden" id="receiveId" name="receiveId" value=""/>
    </form>
</div>
</body>
</html>