<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="th/layout/defaultLayout">
<head>
    <meta charset="UTF-8">
    <title>보낸 쪽지함</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/askBoard.css}">
        <link rel="stylesheet" th:href="@{/css/profile.css}">
    </th:block>
    <script type="text/javascript" th:src="@{/js/profile.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <th:block th:replace="th/fragments/navBar_myPage"></th:block>
        <th:block th:replace="th/fragments/navBar_myPage_profile"></th:block>
        <div class="myhome-nav">
            <nav class="page-navigation myhome-nav__contents">
                <ul>
                    <li class="page-navigation__item  page-navigation__item--active">
                        <a target="_self" th:href="@{/member/receiveNote}">받은쪽지함</a>
                    </li>
                    <li class="page-navigation__item">
                        <a target="_self" th:href="@{/member/sendNote}">보낸쪽지함</a>
                    </li>
                </ul>
            </nav>
        </div>
        <br>
        <form action="/member/noteSending" method="post" id="sending" name="sending">
            <input type="button" id="send" name="send"
                   class="button button--color-gray-4 button--size-30 button--shape-4 card-detail-writer__follow"
                   value="쪽지보내기">
            <input type="button" id="delete" name="delete"
                   class="button button--color-gray-4 button--size-30 button--shape-4 card-detail-writer__follow"
                   value="삭제">
            <br>
            <table class="table table-hover">
                <tr>
                    <th><input type="checkbox" name="allcheck" id="allcheck"/></th>
                    <th>쪽지내용</th>
                    <th>보낸사람</th>
                </tr>
                <th:block th:each="receive : ${receiveNote}">
                    <tr>
                        <td class="select_note">
                            <input type="checkbox" name="check" id="check" class="check" th:data-No="${receive.msgNo}"
                                   th:data-sendId="${receive.memberId}"/>
                        </td>
                        <td th:onclick="" th:text="${receive.msgContent}"/></td>
                        <td th:text="${receive.memberId}"/>
                    </tr>
                </th:block>
            </table>
            <input type="hidden" id="receiveId" name="receiveId" value=""/>
        </form>
    </div>
</div>
</body>
</html>