<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="th/layout/defaultLayout">
<head>
    <meta charset="UTF-8">
    <title>받은 쪽지함</title>
<style type="text/css">
    .container
    {
        width: 1000px;
        margin:0 auto;
        align: center;
    }


</style>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" th:src="@{/js/profile.js}"></script>

</head>

<body>

<h2>받은 쪽지함</h2>

<div class="container">
    <form action="/noteSending" method="post" id="sending" name="sending">

    <input type="button" id="send" name="send" value="쪽지보내기">
    <input type="button" id="delete" name="delete" value="삭제" >

    <table class="table" >
        <tr>
            <th><input type="checkbox" name="allcheck" id="allcheck"/></th>
            <th>쪽지내용</th>
            <th>보낸사람</th>
        </tr>
        <th:block th:each="send : ${sendnote}">
        <td>
            <td class="select_note">
                <input type="checkbox" name="check" id="check" th:data-No="${send.msgNo}"
                th:data-sendId="${send.memberId}"/>
            </td>
            <td th:onclick="" th:text="${send.msgContent}">
                <!--<span class="sub" th:text="${send.msgContents}" />--><!-- onclick에 ajax 연결 경로-->
            <textarea id="sub" name="sub" th:text="${send.msgContent}" style="width:500px; height:150px; /*display: none*/" readonly></textarea>
        </td>

            <td th:text="${send.memberId}"/>

        </tr>
            <!--<tr>
                <td></td>
                <td><textarea id="sub" name="sub" th:text="${send.msgContents}" style="width:500px; height:150px; display: none" readonly></textarea></td>
            </tr>-->

        </th:block>

    </table>
        <input type="hidden" id="receiveId" name="receiveId" value=""/>
    </form>
</div>
</body>
</html>