<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.house.mapper.AdminMapper">

    <select id="getMember" resultType="allMemberVO">
		select * from allmember
	</select>
    <select id="getProduct" resultType="productVO">
		select * from product
	</select>
	<select id="getProductOption" resultType="productOptionVO">
		select * from productoption
	</select>

	<select id = "getYear" resultType="String">
            SELECT EXTRACT(YEAR FROM productCreateDate) as year from product ;
        </select>
	<!-- 년도별로 품목당 판매량 정렬
        select sum(sellPrice), productCreateDate, productName,
        EXTRACT(YEAR FROM productCreateDate ) as year from product
         group by productCreateDate;
        -->
<!-- 필요 없을지도
	<select id="getSalesVolume" resultType="productVO">&lt;!&ndash; 판매량 &ndash;&gt;
		select sum(orderQty) as orderQty, productCreateDate, productName,
        EXTRACT(YEAR FROM productCreateDate ) as year, EXTRACT(MONTH FROM productCreateDate ) as month
         , EXTRACT(DAY FROM productCreateDate ) as day from orderlist
         group by productNo, orderDate, colorName;
	</select>-->
	<!--
		orderList에서 가져와야함 resultMap 만들어서 productName ,sellerName, orderDate, orderQty,
	-->

	<select id="getTotalPrice" resultType="orderListVO"> <!-- 날짜별 이건 판매 총액, 판매량 -->
		select sum(totalPrice) as totalPrice, productNo, sum(orderQty) as orderQty, orderDate,
		EXTRACT(YEAR FROM orderDate ) as year, EXTRACT(MONTH FROM orderDate ) as month, EXTRACT(DAY FROM orderDate ) as day
		from orderlist <!-- where productNo = '' -->
		group by productNo, orderDate/*, colorName 만약 색상까지 세분화 안한다면 주석처리 */ order by orderDate;
	</select>

	<select id="getSpendingPattern" resultType="orderListVO"> <!-- 그냥 판매량 순으로 정렬해서 USERSPENDINGPATTERN이나 매출순위 뽑음 -->
		select sum(totalPrice) as totalPrice, productNo, sum(orderQty) as orderQty, orderDate,
		EXTRACT(YEAR FROM orderDate ) as year, EXTRACT(MONTH FROM orderDate ) as month, EXTRACT(DAY FROM orderDate ) as day
		from orderlist <!-- where productNo = '' -->
		group by productNo order by totalPrice;
	</select>

	<select id="getHouseUser" resultType="memberVO">
		select * from user where userId=#{memberId} and userPassword=#{memberpw}
	</select>
	<select id="getUser" resultType="MemberVO">
		select * from member
	</select>
	<!--
        <select id="getMember" resultType="MemberVO">
            select * from user where Id=#{Id} and pw=#{pw}
        </select>
        &lt;!&ndash; 연도 추출? &ndash;&gt;


        <insert id="insertAddr" >
            INSERT INTO user(userAddr)
            VALUES ( #{userAddr} )
        </insert>-->


	<!-- 주소를 등록
	첫 시도 (Update 해야되는데 insert 하려 해서 에러남)
	<select id="insertAddr" r>
select *,if(memberAddr is null,'하리보',if(deliveryAddr1 is null,'하리보둘',
if(deliveryAddr2 is null,'하리보셋',deliveryAddr2))) as news from member1;
	멤버 주소 업데이트
update member1 set memberAddr=if(memberAddr is null,'asd',memberAddr), deliveryAddr1 = if(memberAddr is not null, null, 'Addr1에들어감'),
 deliveryAddr2 = if(memberAddr is not null, null, if(deliveryAddr1 is not null,null,'Addr2에 들어감' ))
 where memberId='test';
	-->

</mapper>