<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.house.mapper.AskBoardMapper">

    <select id="askBoardList" resultType="com.bit.house.domain.AskBoardVO">
        SELECT askBoardNo, askContent, memberId, CONCAT(REPEAT("　", askIndent), askTitle) as askTitle, askDate,
        askGroupNo, askIndent, askStep
        FROM askboard
        order by askGroupNo desc, askStep asc, askIndent asc;

    </select>

    <select id="askDetail" parameterType="int" resultType="AskBoardVO">
        SELECT a.askBoardNo, a.memberId, a.askTitle, a.askContent, a.askDate, a.askGroupNo, a.askIndent, a.askStep, m.memberImg
        FROM askboard a  INNER JOIN member m
        ON a.memberId = m.memberId
        WHERE askBoardNo = #{askBoardNo}
    </select>

    <insert id="insertAsk" parameterType="com.bit.house.domain.AskBoardVO">
        INSERT INTO
        askboard (askTitle, askContent, memberId, askDate, askGroupNo, askIndent, askStep)
        values(#{askTitle}, #{askContent}, #{memberId}, now(), (select ifnull (max(askBoardNo)+1, 1) from askboard b),
        0, 0)
    </insert>

    <update id="askUpdate" parameterType="AskBoardVO">
        UPDATE askboard SET
        askTitle = #{askTitle}, askContent=#{askContent}
        WHERE askBoardNo = #{askBoardNo}
    </update>

    <update id="askReplyUp" parameterType="AskBoardVO">
        update askboard SET askStep = askStep+1 WHERE askGroupNo = #{askGroupNo} AND askStep > #{askStep};
    </update>

    <insert id="askReply" parameterType="AskBoardVO">
        INSERT INTO
        askboard(askTitle, askContent, memberId, askDate, askGroupNo, askIndent, askStep)
        values(#{askTitle}, #{askContent}, #{memberId}, curdate(), #{askGroupNo},
        #{askIndent}+1, #{askStep}+1)
    </insert>

    <delete id="askDelete" parameterType="int">
        DELETE FROM askboard WHERE askBoardno = #{askBoardno}
    </delete>

    <select id="askCommentCount" resultType="int">
        SELECT count(*) FROM comment WHERE askBoardNo = #{askBoardNo}
    </select>

    <select id="askComment" resultType="CommentVO">
        SELECT * FROM comment WHERE askBoardNo = #{askBoardNo}
    </select>

    <insert id="insertAskComment" parameterType="CommentVO">
        INSERT INTO
        comment(memberId, commentupDate, commentContent, askBoardNo)
        VALUES(#{memberId}, curdate(), #{commentContent}, #{askBoardNo})
    </insert>

</mapper>