<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.house.mapper.AskBoardMapper">

    <select id="askBoardList" resultType="com.bit.house.domain.AskBoardVO">
        SELECT askBoardNo, askContent, memberId, CONCAT(REPEAT("　", askIndent), askTitle) as askTitle, askDate,
        askGroupNo, askIndent, askStep
        FROM askboard
        order by askGroupNo desc, askStep asc, askIndent asc;

    </select>

    <select id="askDetail" parameterType="int" resultType="AskBoardVO">
        SELECT * FROM askboard WHERE askBoardNo = #{askBoardNo}
    </select>

    <insert id="insertAsk" parameterType="com.bit.house.domain.AskBoardVO">
        INSERT INTO
        askboard (askTitle, askContent, memberId, askDate, askGroupNo, askIndent, askStep)
        values(#{askTitle}, #{askContent}, #{memberId}, now(), (select ifnull (max(askBoardno)+1, 1) from askboard b),
        0, 0)
    </insert>

    <update id="askUpdate" parameterType="AskBoardVO">
        UPDATE askboard SET
        askTitle = #{askTitle}, askContent=#{askContent}
        WHERE askBoardno = #{askBoardno}
    </update>

    <insert id="askReply" parameterType="AskBoardVO">
        INSERT INTO
        askboard(askTitle, askContent, memberId, askDate, askGroupNo, askIndent, askStep)
        values(#{askTitle}, #{askContent}, #{memberId}, curdate(), #{askGroupNo},
        #{askIndent}+1, (select ifnull(max(askStep)+1, 1) from askboard b where askGroupNo = #{askGroupNo} AND
        askIndent=#{askIndent}+1))
    </insert>

    <delete id="askDelete" parameterType="int">
        DELETE FROM askboard WHERE askBoardno = #{askBoardno}
    </delete>

    <select id="askComment" resultType="CommentVO">
        SELECT * FROM comment WHERE askBoardNo = #{askBoardNo}
        ORDER BY commentGroupNo desc, commentStep asc, commentIndent asc;
    </select>

    <insert id="insertAskComment" parameterType="CommentVO">
        INSERT INTO
        comment(memberId, commentupDate, commentContent, commentGroupNo, commentIndent, commentStep, askBoardNo)
        VALUES(#{memberId}, curdate(), #{commentContent}, (select ifnull (max(commentNo)+1, 1) from comment c), 0, 0), #{askBoardNo})
    </insert>

</mapper>