<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.house.mapper.BasketMapper">

    <resultMap id="bskInfo" type="basketVO">

        <result column="productColor" property="productColor"/>
        <result column="sellPrice" property="sellPrice"/>
        <result column="productName" property="productName"/>
        <result column="productMainImg" property="productMainImg"/>
        <result column="modelName" property="modelName"/>

        <association property="productVO" javaType="productVO">
            <result column="sellerName" property="sellerName"/>
        </association>

        <association property="productOptionVO" javaType="productOptionVO">
            <result column="colorCode" property="colorCode"/>
        </association>
    </resultMap>
    <!--
    배열 파라미터를 직접 넘겼을 경우 - public List<Members> getAuthUserList(String[] userArray) {
		return sqlSession.selectList("getAuthUserList", userArray);

        <select id="getBasketSessionList" parameterType="java.util.ArrayList" resultMap="product">
        select * from product where productName in
        <foreach collection="hoho" item="item" index="index" separator=",">
            #{item}
        </foreach>
        </select>
    -->

    <!--
    배열 파라미터를 Map을 통해 넘겼을 경우
    public List<Members> getAuthUserList(String[] userArray) {
		HashMap<String, Object> map = new HashMap<String, Object>();
		map.put("userArray",userArray);
		return sqlSession.selectList("getAuthUserList", map);
}
            <select id="getAuthUserList"  resultType="members">
            SELECT m.*,a.name FROM members AS m
            JOIN authority AS a ON m.authority = a.authority
            WHERE m.authority IN
            <foreach collection="array" item="arr" open="(" close=")" separator=",">
             #{arr}
            </foreach>
            ORDER BY m.authority;
            </select>


    -->
<!--

0608 쓸것
-->
    <!--
    <select id="getNonMemberBasketList"  resultType="BasketVO">
                select * from (select p.productNo, p.productName, p.sellerName, p.modelName, p.productCreateDate, p.productMainImg, p.purchasePrice, o.colorCode from product p,
     productoption o where p.productNo = o.productNo) as a
                WHERE productName IN
                <foreach collection="hohoSession2" item="productNameArr" open="(" close=")" separator=",">
                 #{productNameArr}
                </foreach>

    </select>
        and colorCode IN
            <foreach collection="colorList" item="productColorArr" open="(" close=")" separator=",">
             #{productColorArr}
            </foreach>


        <foreach collection="hohoSession2" item="productNameArr" open="(" close=")" separator=",">
            #{productNameArr}
        </foreach>
            -->

    <select id="getNonMemberBasketList"  resultMap="bskInfo" parameterType="java.util.List">
        select * from (select p.productNo, p.productName, p.sellerName, p.modelName, p.productCreateDate,
        p.productMainImg, p.purchasePrice, o.colorCode, o.productOptionNo from product p,
        productoption o where p.productNo = o.productNo) as a
        WHERE productNo IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>

    </select>
<!--
    <select id="getArray" parameterType="java.util.ArrayList" resultType="basketVO">
        select * from product where productName in
        <foreach collection="hoho2" item="item" index="index" separator=",">
            #{item}
        </foreach>
    </select>-->

    <insert id="insertMemberBasket">

    </insert>

    <select id="getBasket" resultType="basketVO">
        select * from basket;
    </select>
</mapper>