<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.house.mapper.PhotoBoardMapper">

   <select id="photoBoardList" resultType="PhotoBoardVO">
       SELECT * FROM photoboard

   </select>

    <insert id="insertPhoto" parameterType="PhotoBoardVO">
        INSERT INTO
        photoboard(memberId, photoTitle, photoContent, photoDate, photoImg1, photoImg2, photoImg3, photoImg4, photoImg5, areaCode, styleCode, houseCode, placeCode )
        VALUE(#{memberId}, #{photoTitle}, #{photoContent}, curdate(), #{photoImg1}, #{photoImg2}, #{photoImg3}, #{photoImg4}, #{photoImg5}, #{areaCode}, #{styleCode}, #{houseCode}, #{placeCode} )
    </insert>

    <select id="photoDetail" parameterType="int" resultType="PhotoBoardVO">
        SELECT * FROM photoboard WHERE photoBoardNo=#{photoBoardNo}
    </select>

    <select id="area" resultType="PhotoBoardVO">
        SELECT areaCode, areaType FROM area
    </select>

    <select id="house" resultType="PhotoBoardVO">
        SELECT * FROM house
    </select>

    <select id="style" resultType="PhotoBoardVO">
        SELECT * FROM style
    </select>

    <select id="place" resultType="PhotoBoardVO">
        SELECT * FROM place
    </select>

    <select id="userPhoto" resultType="PhotoBoardVO">
        SELECT p.photoBoardNo, p.photoImg1, m.memberImg
        FROM photoboard p INNER JOIN member m
        ON p.memberId = m.memberId
        WHERE p.memberId = #{memberId}
        ORDER BY p.photoBoardNO desc
        LIMIT 4;
    </select>


</mapper>