<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.house.mapper.PhotoBoardMapper">

   <select id="photoBoardList" resultType="com.bit.house.domain.PhotoBoardVO">
       SELECT * FROM photoboard

   </select>

    <insert id="insertPhoto" parameterType="PhotoBoardVO">
        INSERT INTO
        photoboard(memberId, photoTitle, photoContent, photoDate, photoImg1, photoImg2, photoImg3, photoImg4, photoImg5 )
        VALUE(#{memberId}, #{photoTitle}, #{photoContent}, curdate(), #{photoImg1}, #{photoImg2}, #{photoImg3}, #{photoImg4}, #{photoImg5} )
    </insert>

</mapper>