<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.house.mapper.ProductMapper">

    <insert id="insertProduct" parameterType="com.bit.house.domain.ProductVO">
        INSERT INTO product (productNo, sellerName, productName, modelName, customerPrice, sellPrice, purchasePrice, categoryCode,
         productMainImg, productSubImg1, productSubImg2, productSubImg3, productExpImg, clickTotalCount )
        VALUES (#{productNo}, #{sellerName}, #{productName}, #{modelName}, #{customerPrice}, #{sellPrice}, #{purchasePrice}, #{categoryCode},
        #{productMainImg}, #{productSubImg1}, #{productSubImg2}, #{productSubImg3}, #{productExpImg}, '0')
    </insert>

    <select id="searchProductListInfo" resultType="com.bit.house.domain.ProductVO">
        SELECT pro.productNo, pro.sellerName, pro.productName, pro.modelName, pro.customerPrice, pro.sellPrice
        FROM product pro, seller sel
        WHERE pro.sellerName=sel.sellerName
        AND sellerId=#{sellerId};

    </select>


</mapper>

