<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.house.mapper.ProductMapper">
    <!--
        <select id="getBasketSessionList" parameterType="java.util.ArrayList" resultMap="product">
        select * from product where productName in
        <foreach collection="hoho" item="item" index="index" separator=",">
            #{item}
        </foreach>
        </select>
    -->
    <!--
    배열 파라미터를 직접 넘겼을 경우 - public List<Members> getAuthUserList(String[] userArray) {
		return sqlSession.selectList("getAuthUserList", userArray);
}
            <select id="getAuthUserList"  resultType="members">
            SELECT m.*,a.name FROM members AS m
            JOIN authority AS a ON m.authority = a.authority
            WHERE m.authority IN
            <foreach collection="array" item="arr" open="(" close=")" separator=",">
             #{arr}
            </foreach>
            ORDER BY m.authority;
            </select>


    배열 파라미터를 Map을 통해 넘겼을 경우
    public List<Members> getAuthUserList(String[] userArray) {
		HashMap<String, Object> map = new HashMap<String, Object>();
		map.put("userArray",userArray);
		return sqlSession.selectList("getAuthUserList", map);
}

        <select id="getAuthUserList"  resultType="members">
    SELECT m.*,a.name FROM members AS m
    JOIN authority AS a ON m.authority = a.authority
    WHERE m.authority IN
    <foreach collection="userArray" item="arr" open="(" close=")" separator=",">
     #{arr}
    </foreach>
    ORDER BY m.authority;
    </select>
    -->
</mapper>