<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="th/layout/defaultLayout">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
    <link href="/img/theHouseLogo.png" rel="shortcut icon" type="image/x-icon">
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mainContent.css}">
    </th:block>
    <link rel="stylesheet" media="screen"
          href="https://d1nyaccf3kuclt.cloudfront.net/assets/v3/layout/application_react-c68374e516e05258989e1c408ec53ff0ffa468ef1755a945c31caf2e365af3d0.css">
    <link rel="stylesheet" media="screen"
          href="https://d1nyaccf3kuclt.cloudfront.net/dist/css/templates-Commerce-Cart-7a3e77c9.chunk.css">
    <link rel="stylesheet" media="screen" href="https://d1nyaccf3kuclt.cloudfront.net/dist/css/19-dfb1ddc9.chunk.css">
</head>
<script src="http://code.jquery.com/jquery-2.0.2.js"></script>
<body>

<div layout:fragment="content" data-react-class="App" data-hydrate="t" class="page">
    <div class="layout">

        <div class="commerce-cart-wrap">
            <div class="container" id="SExist" style="display: block">
                <div class="commerce-cart row">
                    <div class="commerce-cart__content-wrap col-12 col-md-7 col-lg-8">
                        <div class="commerce-cart__content">
                            <div data-sticky-enabled="false" data-sticky-always="false" data-direction="top"
                                 data-offset="0" class="sticky-container commerce-cart__header-wrap">
                                <div class="sticky-child commerce-cart__header" style="position:relative">
                                    <span class="commerce-cart__header__left" onclick="checkAll(this.form);">
                                       <div class="round-checkbox-input round-checkbox-input--blue">
                                            <label class="round-checkbox-input__label">
                             <!--모두선택체크박스--><input type="checkbox" id="th_checkAll" name="outerCheckbox"
                                                   class="round-checkbox-input__input" autocomplete="off" checked="">
                                                <span class="round-checkbox-input__icon">
                                                    <svg class="check" width="24" height="24" viewBox="0 0 24 24"
                                                         preserveAspectRatio="xMidYMid meet">
                                                        <path fill="#FFF"
                                                              d="M9.9 14.6l7-7.3 1.5 1.4-8.4 8.7-5-4.6 1.4-1.5z">

                                                        </path>
                                                    </svg>
                                                </span>
                                                <span class="caption">모두선택 (1개)
                                                </span>
                                            </label>
                                        </div>
                                    </span>
                                    <span class="commerce-cart__header__right">
                                        <button class="commerce-cart__header__delete" type="button">선택삭제
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div>
                                <ul>
                                    <th:block th:each="list : ${basketList}">
                                        <li th:text="${list}"></li>
                                        셀러네임
                                        <h1 th:text="${list.productVO.sellerName}"></h1>
                                    </th:block>
                                </ul>
                            </div>
                            <!-- 셀러네임안듬 -->
                            <!-- 상품 전체 -->

                            <ul class="commerce-cart__content__group-list">
                                <!-- 상품 한개당 li 한개-->

                                <li class="commerce-cart__content__group-item" th:each="list, listStat : ${basketList}">

                                    <article class="commerce-cart__group"><h1 class="commerce-cart__group__header">핀란디아
                                        <!--th:text="${list.productVO.getSellerName()}" -->
                                        <!-- --> 배송</h1>
                                        <ul class="commerce-cart__group__item-list">
                                            <li class="commerce-cart__group__item">
                                                <article class="commerce-cart__delivery-group">
                                                    <ul class="commerce-cart__delivery-group__product-list">
                                                        <li class="commerce-cart__delivery-group__product-item">
                                                            <!-- 선택된 상품 in basket -->
                                                            <article class="carted-product">
                                                                <div class="round-checkbox-input round-checkbox-input--blue carted-product__select">
                                                                    <label class="round-checkbox-input__label">
                                                                        <!-- 내부 체크박스 --><input type="checkbox"
                                                                                               name="innerCheckbox"
                                                                                               class="round-checkbox-input__input"
                                                                                               checked=""
                                                                                               aria-label="[오늘의딜] 데이브 화이트/블랙 메쉬 책상의자 5colors ${productName}"
                                                                                               autocomplete="off">
                                                                        <span class="round-checkbox-input__icon">
                                                                            <svg class="check" width="24" height="24"
                                                                                 viewBox="0 0 24 24"
                                                                                 preserveAspectRatio="xMidYMid meet">
                                                                                <path fill="#FFF"
                                                                                      d="M9.9 14.6l7-7.3 1.5 1.4-8.4 8.7-5-4.6 1.4-1.5z"></path>
                                                                            </svg>
                                                                            <!-- 1. outer 체크박스 체크 ? inner 체크박스 == true -->
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <!-- 상품 간단 상세 --><a
                                                                    class="product-small-item product-small-item--clickable"
                                                                    href="/productions/41033/selling">
                                                                <div class="product-small-item__image"><img
                                                                        src=""
                                                                        alt=""></div>
                                                                <div class="product-small-item__content"><h1
                                                                        class="product-small-item__title"
                                                                        th:text="${list.productName}">[핀란디아]
                                                                    <!-- -->데이브 화이트/블랙 메쉬 책상의자 </h1>
                                                                    <p class="product-small-item__caption">무료배송 |
                                                                        일반택배</p></div>
                                                            </a>
                                                                <button class="carted-product__delete" type="button"
                                                                        aria-label="삭제">
                                                                    <svg width="12" height="12" viewBox="0 0 12 12"
                                                                         fill="currentColor"
                                                                         preserveAspectRatio="xMidYMid meet">
                                                                        <path fill-rule="nonzero"
                                                                              d="M6 4.6L10.3.3l1.4 1.4L7.4 6l4.3 4.3-1.4 1.4L6 7.4l-4.3 4.3-1.4-1.4L4.6 6 .3 1.7 1.7.3 6 4.6z"></path>
                                                                    </svg>
                                                                </button>
                                                                <ul class="carted-product__option-list">
                                                                    <li class="carted-product__option-list__item">
                                                                        <article class="selling-option-item"><h2
                                                                                class="selling-option-item__name">컬러 :
                                                                            그린</h2>

                                                                            <div class="selling-option-item__controls">
                                                                                <div class="selling-option-item__quantity">
                                                                                    <div class="input-group select-input option-count-input">
                                                                                        <select class="form-control">
                                                                                            <option selected=""
                                                                                                    value="0">1
                                                                                            </option>
                                                                                            <option value="1">2</option>
                                                                                            <option value="2">3</option>
                                                                                            <option value="3">4</option>
                                                                                            <option value="4">5</option>
                                                                                            <option value="5">6</option>
                                                                                            <option value="6">7</option>
                                                                                            <option value="7">8</option>
                                                                                            <option value="8">9</option>
                                                                                            <option value="9">10+
                                                                                            </option>
                                                                                        </select><span
                                                                                            class="select-input__icon"><svg
                                                                                            class="icon" width="10"
                                                                                            height="10"
                                                                                            style="fill:currentColor"
                                                                                            preserveAspectRatio="xMidYMid meet"><path
                                                                                            fill-rule="evenodd"
                                                                                            d="M0 3l5 5 5-5z"></path></svg></span>
                                                                                    </div>
                                                                                </div>
                                                                                <p class="selling-option-item__price">
                                                                                    <span class="selling-option-item__price__number">55,900</span>원
                                                                                </p></div>
                                                                        </article>
                                                                    </li>
                                                                </ul>

                                                            </article>
                                                        </li>
                                                    </ul>
                                                    <footer class="commerce-cart__delivery-group__footer"><p
                                                            class="commerce-cart__delivery-group__total">배송비<!-- -->
                                                        무료</p></footer>
                                                </article>
                                            </li><!-- 상품 LI 끝 -->
                                        </ul>
                                    </article>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="commerce-cart__side-bar-wrap col-12 col-md-5 col-lg-4"> <!--사이드바 전체 상품 가격 등 정보-->
                        <div data-sticky-enabled="false" data-sticky-always="false" data-direction="top"
                             data-offset="80.99431610107422" class="sticky-container commerce-cart__side-bar-container"
                             style="position: sticky; top: 80.9943px;">
                            <div class="sticky-child commerce-cart__side-bar" style="position:relative">
                                <dl class="commerce-cart__summary commerce-cart__side-bar__summary">
                                    <div class="commerce-cart__summary__row">
                                        <dt>총 상품금액</dt>
                                        <dd><span class="number">98,000</span>원</dd>
                                    </div>
                                    <div class="commerce-cart__summary__row">
                                        <dt>총 배송비</dt>
                                        <dd>+ <span class="number">0</span>원</dd>
                                    </div>
                                    <div class="commerce-cart__summary__row">
                                        <dt>총 할인금액</dt>
                                        <dd>- <span class="number">42,100</span>원</dd>
                                    </div>
                                    <div class="commerce-cart__summary__row commerce-cart__summary__row--total">
                                        <dt>결제금액</dt>
                                        <dd><span class="number">55,900</span>원</dd>
                                    </div>
                                </dl>
                                <div class="commerce-cart__side-bar__order">
                                    <a href="/goPayment">
                                        <button class="button button--color-blue button--size-50 button--shape-4 commerce-cart__side-bar__order__btn"
                                                type="button">1개 상품 구매하기
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="commerce-cart-empty" id="SNExist" style="display: block">
                <div class="commerce-cart-empty__content"><img class="commerce-cart-empty__content__image"
                                                               src="/img/basketNull.png"
                                                               alt="장바구니가 비었습니다."> 장바구니가 비었습니다<a
                        class="button button--color-blue button--size-50 button--shape-4 commerce-cart-empty__content__button"
                        href="/store">상품 담으러 가기</a>


                    <a href="/goPayment">payment래</a>
                    상품 페이지에서 장바구니 클릭 -> script ~ userId ? null : @
                    (userId==null) {
                    sessionStorage.setItem(key, value);
                    }else{
                    $ajax.
                    : /basketProcess.do ~~~~~
                    <basketMapper class="insert"></basketMapper>
                    }
                    (회원) 장바구니 아이콘 누르면 popup (db에 품목 저장) ||장바구니로||계속쇼핑|| -->>> Product Mapperㅔㅇㅇ ㅣㅆ음
                    (비회원) 장바구니 아이콘 누르면 popup (세션에 품목 저장) ||장바구니로||계속쇼핑||


                    if(memberId == null){
                    for(var key in window.sessionStorage) {
                    sessionStorage.getItem(key) }
                    ~~~ data : list ~~
                    }
                    ProductDetail ---> (세션 있다 없다, 유저Id 있다 없다)
                    1. 유저 ID 있다 --> COntroller에서 장바구니 정보 가져옴
                    Session에서 MemId 가져와서 Controoller에 보낸 뒤 정보 가져옴
                    2. 유저 ID 없다 SEssion에서 장바구니 정보 가져옴 popup -- BasketController --> basket
                    Session에서 장바구니 리스트 뽑아와서 가져옴
                    @@Controller@@

                    if(memberId == null{
                    service.~ ??? --> 어덯게 가져올ㄹ지 session key값은 1개에 1개 저장됨 mapper에서 key값 여러개 어떻게 가져오는지
                    ==>> select ~ from ~ where ~ name = haha || name =asd || name = asd
                    }
                    else{
                    getAllProduct(name)
                    }

                    장바구니 페이지
                    실험용 -- db
                    <!--<tr th:each="val, valStat : ${allMemberVOList} ">
                        <td th:text="${valStat.count}">1</td>
                        <td th:text="${val.userid}"></td>
                        <td th:text="${val.userpw}"></td>
                    </tr>-->
                </div>

            </div>
        </div>

        <div class="toast-message-root"></div>
    </div>
</div>

<div id="output">
    <!-- 저장된 내용을 출력할 DIV 엘리먼트 -->
</div>
<script type="text/javascript">

    console.log("처음으로 실행시켜");
    var test2 = window.sessionStorage;
    console.log(sessionStorage.getItem(test2));
    var len = (sessionStorage.getItem("ProductNameSession")).length;
    var arrKey = new Array();
    //세션
    console.log("session 갯수 : " + len);
    /*document.addEventListener("DOMContentLoaded", function () {
        console.log("DOMContentLoaded func 호출 --")
        if (window.sessionStorage) {

            // 해당 예제를 실행하기전 이전 세션의 데이터를 clear( ) 메서드를 사용해 전부 삭제한다.
            console.log("sessionStorage가 있음");
            console.log("session : " + window.sessionStorage);
            console.log("object : " + printSessionStorage());
            //sessionStorage.clear();

            //var sessionKey = window.sessionStorage;
            //console.log(sessionStorage.getItem(key));
        } else {
            alert("세션을 사용할 수 없는 브라우저입니다.");
        }
    });

    function printSessionStorage() {
        console.log("PrintSessionStorage func 호출 --")
        var key2;
        var output = "";
        var i = 0;
        var arrValue = new Array();
        for (var key in window.sessionStorage) {
            arrKey[i] = sessionStorage.getItem(key)
            console.log("어레이키 출력");
            console.log("arr0 : " + arrKey[i]);

            console.log("키값은 : " + sessionStorage.getItem(key));
            output += "<p>";
            // getItem( ) 메서드를 이용하여 key 값의 value 값을 찾는다.
            output += key + " : " + sessionStorage.getItem(key);
            output += "<br>";
            output += "</p>";
            i++;
            console.log(i);
            //console.log("key : " + key + "value = " + sessionStorage.getItem(key));
        }
        for (var i = 0; i < sessionStorage.length; i++) {
            arrValue[i] = sessionStorage.getItem(key);
            var keyTest = window.sessionStorage;
            console.log(keyTest);
            key2 = sessionStorage.getItem(keyTest);
            console.log(key2);
            console.log(arrValue);
        }
        document.getElementById("output").innerHTML = output;
    }*/

    $(document).ready(
        function () {
            console.log("len : " + len);
            if (len != 0) {
                document.getElementById("SExist").style.display = 'block';
                document.getElementById("SNExist").style.display = 'none';
            } else {
                document.getElementById("SNExist").style.display = 'block';
                document.getElementById("SExist").style.display = 'none';
            }
        }
    );


    function checkAll() {
        if ($("#th_checkAll").is(':checked')) {
            $("input[name=innerCheckbox]").prop("checked", true);
        } else {
            $("input[name=innerCheckbox]").prop("checked", false);
        }
    }

</script>
</body>
</html>