.carted-product-edit__modal__handle {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin: 0;
    padding: 8px 24px;
    transform: translateX(-50%);
    box-sizing: border-box;
    background: none;
    border: none;
    font-size: 0;
    pointer-events: none
}

@media (min-width: 768px) {
    .carted-product-edit__modal__handle {
        display: none
    }
}

.carted-product-edit__modal__handle:before {
    content: "";
    display: block;
    width: 40px;
    height: 6px;
    background-color: #fff;
    border-radius: 3px
}

.carted-product-edit__modal__close {
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 10px;
    color: #424242;
    border: none;
    background-color: transparent;
    transition: opacity .1s
}

@media (min-width: 768px) {
    .carted-product-edit__modal__close {
        top: 15px;
        right: 15px;
        padding: 0
    }
}

.carted-product-edit__modal__close:active, .carted-product-edit__modal__close:focus, .carted-product-edit__modal__close:hover {
    opacity: .6
}

.carted-product-edit__modal__close > .icon-sm {
    display: block
}

@media (min-width: 768px) {
    .carted-product-edit__modal__close > .icon-sm {
        display: none
    }
}

.carted-product-edit__modal__close > .icon-md {
    display: none
}

@media (min-width: 768px) {
    .carted-product-edit__modal__close > .icon-md {
        display: block
    }
}

.carted-product-edit__modal__content.react-modal__content {
    position: relative
}

@media (max-width: 767px) {
    .carted-product-edit__modal__content.react-modal__content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        max-height: calc(100vh - 70px);
        padding: 20px 15px;
        margin-top: 25px;
        border-radius: 16px 16px 0 0
    }
}

@media (min-width: 768px) {
    .carted-product-edit__modal__content.react-modal__content {
        width: 405px;
        padding: 30px
    }
}

.carted-product-edit__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px
}

.carted-product-edit__form .product-small-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px
}

@media (min-width: 768px) {
    .carted-product-edit__form .product-small-item {
        padding-right: 5px
    }
}

.carted-product-edit__form__content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding-top: 20px
}

.carted-product-edit__form__footer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 20px -14px -15px;
    padding-bottom: env(safe-area-inset-bottom)
}

@media (min-width: 768px) {
    .carted-product-edit__form__footer {
        margin: 20px -5px 0
    }
}

.carted-product-edit__form__footer__button.button {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    margin: 0 5px
}

@media (max-width: 767px) {
    .carted-product-edit__form__footer__button.button {
        margin: 0 3.5px;
        padding: 11px 10px;
        line-height: 20px
    }
}

.carted-product {
    position: relative;
    padding: 20px 15px 20px 49px
}

@media (min-width: 768px) {
    .carted-product {
        padding: 20px 15px 20px 54px
    }
}

.carted-product--placeholder .carted-product__subtotal {
    width: 80px;
    background-color: #ededed;
    color: #ededed
}

.carted-product--placeholder .carted-product__subtotal:before {
    content: "\00a0"
}

.carted-product--has-sold-out .carted-product__subtotal, .carted-product--sold-out .carted-product__card__title, .carted-product--sold-out .carted-product__subtotal {
    color: rgba(0, 0, 0, .4)
}

.carted-product__select {
    position: absolute;
    top: 20px;
    left: 15px
}

@media (min-width: 768px) {
    .carted-product__select {
        left: 20px
    }
}

.carted-product .product-small-item {
    margin: 0 20px 12px 0
}

.carted-product__delete {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 10px;
    padding: 5px;
    background: none;
    border: none;
    font-size: 0;
    transition: opacity .1s;
    color: #424242
}

@media (min-width: 768px) {
    .carted-product__delete {
        right: 15px
    }
}

.carted-product__delete:active, .carted-product__delete:focus, .carted-product__delete:hover {
    opacity: .5
}

.carted-product__pay-at {
    margin-bottom: 12px
}

.carted-product__pay-at .form-control {
    font-size: 15px;
    line-height: 1.4;
    border-radius: 4px
}

.carted-product__memo {
    display: block;
    margin-bottom: 12px
}

.carted-product__memo__text {
    margin-bottom: 8px;
    color: #424242;
    font-size: 12px;
    line-height: 16px
}

.carted-product__memo__input {
    display: block;
    width: 100%;
    padding: 8px 15px 9px;
    font-size: 15px;
    line-height: 1.4;
    border-radius: 4px
}

.carted-product__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    margin-top: 16px
}

.carted-product__footer__left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.carted-product__edit-btn, .carted-product__order-btn {
    position: relative;
    display: inline-block;
    margin: 2px 0 0 -3px;
    padding: 3px;
    background: none;
    border: none;
    color: #424242;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    transition: opacity .1s
}

.carted-product__edit-btn:active, .carted-product__edit-btn:focus, .carted-product__edit-btn:hover, .carted-product__order-btn:active, .carted-product__order-btn:focus, .carted-product__order-btn:hover {
    opacity: .5
}

.carted-product__edit-btn:nth-child(n+2), .carted-product__order-btn:nth-child(n+2) {
    margin-left: 14px
}

.carted-product__edit-btn:nth-child(n+2):before, .carted-product__order-btn:nth-child(n+2):before {
    content: "";
    position: absolute;
    display: block;
    left: -7px;
    top: 4px;
    height: 12px;
    border-left: 1px solid #dbdbdb
}

.carted-product__subtotal {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    color: #000;
    font-size: 17px;
    font-weight: 700
}

.carted-product__subtotal__number {
    font-family: Tahoma, sans
}

.commerce-cart__delivery-group {
    margin-bottom: 12px;
    background-color: #fff
}

@media (min-width: 768px) {
    .commerce-cart__delivery-group {
        border: 1px solid #ededed;
        border-radius: 6px
    }
}

.commerce-cart__delivery-group--placeholder .commerce-cart__delivery-group__footer:before {
    content: "\00a0";
    display: inline-block;
    width: 200px;
    background-color: #ededed;
    color: #ededed
}

.commerce-cart__delivery-group__product-item {
    border-bottom: 1px solid #ededed
}

.commerce-cart__delivery-group__footer {
    padding: 10px 0;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #424242
}

.commerce-cart__delivery-group__group-caption {
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #757575
}

.commerce-cart__group {
    margin-bottom: 12px
}

.commerce-cart__group--placeholder .commerce-cart__group__header:before {
    content: "\00a0";
    display: inline-block;
    width: 200px;
    background-color: #ededed;
    color: #ededed
}

.commerce-cart__group__header {
    padding: 10px 0;
    border-bottom: 1px solid #ededed;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #424242;
    background-color: #fff
}

@media (min-width: 768px) {
    .commerce-cart__group__header {
        border: solid #ededed;
        border-width: 1px 1px 0;
        border-radius: 6px 6px 0 0
    }
}

@media (min-width: 768px) {
    .commerce-cart__group__item-list .commerce-cart__group__item:first-child .commerce-cart__delivery-group {
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }
}

.commerce-cart__summary {
    padding: 10px 20px
}

.commerce-cart__summary--placeholder .commerce-cart__summary__row > dd {
    width: 95px;
    height: 15px;
    color: #ededed;
    background-color: #ededed
}

.commerce-cart__summary--placeholder .commerce-cart__summary__row--total > dd {
    width: 130px;
    height: 30px;
    color: #ededed;
    background-color: #ededed
}

.commerce-cart__summary__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 15px;
    font-weight: 400;
    color: #424242
}

.commerce-cart__summary__row > dd, .commerce-cart__summary__row > dt {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.commerce-cart__summary__row > dd {
    font-weight: 700;
    text-align: right
}

.commerce-cart__summary__row > dd .number {
    font-family: Tahoma, sans
}

.commerce-cart__summary__row--total {
    margin: 30px 0 20px;
    color: #000
}

.commerce-cart__summary__row--total > dt {
    font-weight: 700
}

.commerce-cart__summary__row--total > dd {
    font-size: 24px
}

.commerce-cart-wrap {
    position: relative;
    background-color: #f5f5f5
}

.layout .commerce-cart-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.commerce-cart {
    position: relative
}

.commerce-cart__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px 15px;
    margin: 0 0 11px;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    z-index: 100
}

.commerce-cart__header-wrap {
    z-index: 100
}

@media (min-width: 768px) {
    .commerce-cart__header {
        padding: 0 21px;
        background: none;
        border: none
    }
}

.commerce-cart__header__left, .commerce-cart__header__right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.commerce-cart__header__delete {
    display: inline-block;
    margin: 2px -3px 0 0;
    padding: 3px;
    background: none;
    border: none;
    color: #424242;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1
}

.commerce-cart__header__delete:active, .commerce-cart__header__delete:focus, .commerce-cart__header__delete:hover {
    text-decoration: underline
}

.commerce-cart__header--placeholder .round-checkbox-input__label > .caption {
    color: #dbdbdb;
    background-color: #dbdbdb
}

.commerce-cart__content {
    position: relative;
    margin: 0 -15px;
    padding: 0
}

@media (min-width: 768px) {
    .commerce-cart__content {
        margin: 0;
        padding: 30px 0
    }
}

.commerce-cart__content__summary {
    background-color: #fff
}

@media (min-width: 768px) {
    .commerce-cart__content__summary {
        display: none
    }
}

.commerce-cart__group-list {
    margin-top: 12px
}

@media (min-width: 768px) {
    .commerce-cart__group-list {
        margin: 0
    }
}

.commerce-cart__group-list__item {
    margin-bottom: 12px;
    background-color: #fff;
    overflow: hidden
}

@media (min-width: 768px) {
    .commerce-cart__group-list__item {
        border: 1px solid #ededed;
        border-radius: 6px
    }
}

.commerce-cart__group-list__item__header {
    border-bottom: 1px solid #ededed
}

.commerce-cart__group-list__item__footer, .commerce-cart__group-list__item__header {
    padding: 10px 0;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #424242
}

.commerce-cart__cart-list__item {
    border-bottom: 1px solid #ededed
}

.commerce-cart__side-bar-wrap {
    display: none;
    padding-top: 35px
}

@media (min-width: 768px) {
    .commerce-cart__side-bar-wrap {
        display: block
    }
}

.commerce-cart__side-bar {
    padding: 30px 0
}

.commerce-cart__side-bar__summary {
    margin: 0 0 20px;
    border: 1px solid #ededed;
    border-radius: 6px;
    background-color: #fff
}

.commerce-cart__side-bar__order__btn {
    display: block;
    width: 100%
}

.commerce-cart__footer-wrap {
    z-index: 502
}

.commerce-cart__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 502;
    padding: 6px;
    background-color: hsla(0, 0%, 100%, .94)
}

@media (min-width: 768px) {
    .commerce-cart__footer {
        display: none
    }
}

.commerce-cart__footer__total {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 12px 16px 12px 10px;
    color: #000;
    font-size: 15px;
    line-height: 20px;
    text-align: center
}

.commerce-cart__footer__total > .cost {
    font-weight: 700
}

.commerce-cart__footer__order.button {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: auto;
    padding: 11px 10px;
    margin-bottom: env(safe-area-inset-bottom, 0)
}

.commerce-cart-empty {
    background-color: #f5f5f5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center
}

.layout .commerce-cart-empty {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.commerce-cart-empty__content {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    max-width: 220px;
    margin: 80px auto;
    box-sizing: border-box;
    text-align: center
}

.commerce-cart-empty__content__image {
    display: block;
    max-width: 160px;
    margin: 0 auto
}

.commerce-cart-empty__content__button.button {
    display: block;
    margin-top: 30px
}