

@media (max-width: 1400px) {
    .login_wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (min-width: 1400px) {
    .login_wrapper {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}