.layout-navigation-primary__menu__item {
    position: relative;
    display: inline-block;
    margin: 6px 10px 0;
    padding: 14px 6px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #424242;
    cursor: pointer
}

.layout-navigation-primary__menu__item.focus-visible:focus {
    color: #35c5f0
}

@media (min-width: 768px) {
    .layout-navigation-primary__menu__item:active, .layout-navigation-primary__menu__item:hover {
        color: #35c5f0
    }
}

.layout-navigation-primary__menu__item::-moz-focus-inner {
    border: 0
}

.layout-navigation-primary__menu__item.focus-visible:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(130, 224, 250, .5);
    border-radius: 3px
}

.layout-navigation-primary__menu__item--active, .layout-navigation-primary__menu__item--open {
    color: #35c5f0
}

.layout-navigation-primary__menu__item--open:after, .layout-navigation-primary__menu__item--open:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid
}

.layout-navigation-primary__menu__item--open:before {
    margin: 1px 0 0 -5px;
    border-width: 0 5px 10px;
    border-color: transparent transparent #dbdbdb
}

.layout-navigation-primary__menu__item--open:after {
    margin: 2px 0 0 -4px;
    border-width: 0 4.5px 9px;
    border-color: transparent transparent #fff;
    transform: translateX(-.5px)
}

.layout-navigation-primary {
    transition: top .1s;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    z-index: 502
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
}

.layout-navigation-primary__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    position: relative;
    height: 50px;
    box-sizing: border-box;
    padding: 0 8px;
    margin: 0 auto
}

@media (min-width: 768px) {
    .layout-navigation-primary__content {
        height: 80px;
        padding: 10px 40px;
        max-width: 1256px
    }
}

@media (min-width: 1024px) {
    .layout-navigation-primary__content {
        padding: 10px 60px
    }
}

.layout-navigation-primary__leftmost {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 5px
}

@media (min-width: 768px) {
    .layout-navigation-primary__leftmost {
        display: none
    }
}

.layout-navigation-primary__left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0
}

@media (min-width: 768px) {
    .layout-navigation-primary__left {
        position: static;
        margin-right: 35px;
        transform: none
    }
}

.layout-navigation-primary__right {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    position: absolute;
    right: 8px
}

@media (min-width: 768px) {
    .layout-navigation-primary__right {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -moz-box-flex: 1;
        -moz-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        position: static
    }
}

.layout-navigation-primary__menu {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: none
}

@media (min-width: 768px) {
    .layout-navigation-primary__menu {
        display: block
    }
}

<!--
메인로고

-->
.layout-navigation-logo {
    display: inline-block;
    margin: -4px;
    padding: 4px
}

.layout-navigation__bar__logo.layout-navigation-logo > .icon {
    width: 50px;
    height: 22px
}

@media (min-width: 768px) {
    .layout-navigation__bar__logo.layout-navigation-logo > .icon {
        width: 74px;
        height: 54px
    }
}

.layout-navigation-logo::-moz-focus-inner {
    border: 0
}

.layout-navigation-logo.focus-visible:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(130, 224, 250, .5);
    border-radius: 3px
}

<!--
검색창

-->
.layout-navigation-search {
    position: relative
}

.layout-navigation-search__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
}

.layout-navigation-search__combobox {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.layout-navigation-bar-search {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 266px;
    -moz-box-flex: 0;
    -moz-flex: 0 1 266px;
    -ms-flex: 0 1 266px;
    flex: 0 1 266px;
    display: none;
    margin: 13px 10px 7px 0;
    min-width: 0
}

@media (min-width: 1024px) {
    .layout-navigation-bar-search {
        display: block
    }
}

.layout-navigation-search__input {
    position: relative
}

.layout-navigation-search__input input[type=text].layout-navigation-search__input__text {
    border-radius: 4px
}

.layout-navigation-search__input__text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 9px 10px 39px;
    font-family: inherit;
    font-size: 15px;
    line-height: 20px;
    background-color: #fff;
    color: #424242;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    transition: background-color .1s
}

.layout-navigation-search__input__text::-webkit-input-placeholder {
    color: #bdbdbd
}

.layout-navigation-search__input__text::-moz-placeholder {
    color: #bdbdbd;
    opacity: 1
}

.layout-navigation-search__input__text:-ms-input-placeholder {
    color: #bdbdbd
}

.layout-navigation-search__input__text:-moz-placeholder {
    color: #bdbdbd
}

.layout-navigation-search__input__text:hover {
    background-color: #fafafa
}

.layout-navigation-search__input__icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    color: #757575;
    pointer-events: none
}

.layout-navigation-search__input__delete {
    position: absolute;
    top: 50%;
    right: 6px;
    margin: -12px 0 0;
    padding: 4px;
    background: none;
    border: none;
    color: #bdbdbd;
    font-size: 0
}

.layout-navigation-search__input__delete.focus-visible:focus {
    color: #dbdbdb
}

@media (min-width: 768px) {
    .layout-navigation-search__input__delete:active, .layout-navigation-search__input__delete:hover {
        color: #dbdbdb
    }
}

.layout-navigation-search__input__delete > .icon {
    width: 16px;
    height: 16px
}

.layout-navigation-search__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 400px;
    margin-top: 4px;
    padding: 8px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    box-shadow: 0 4px 6px 0 rgba(82, 91, 97, .18);
    border-radius: 4px;
    overflow: auto;
    box-sizing: border-box
}

.layout-navigation-search__list__item {
    display: block;
    border-radius: 2px;
    padding: 10px 10px 11px 30px;
    color: #424242;
    font-size: 15px;
    line-height: 21px;
    cursor: pointer
}

.layout-navigation-search__list__item--selected {
    background-color: #f7f8fa
}

.layout-navigation-search__list__history-header {
    padding: 7px 8px 10px
}

.layout-navigation-search__list__keyword-item {
    position: relative
}

.layout-navigation-search__list__keyword-item > .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    color: #dbdbdb
}

.layout-navigation-search__list__keyword-item > .highlight {
    color: #35c5f0;
    font-weight: 400
}

.layout-navigation-search {
    position: relative
}

.layout-navigation-search__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
}

.layout-navigation-search__combobox {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.layout-navigation-bar-search {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 266px;
    -moz-box-flex: 0;
    -moz-flex: 0 1 266px;
    -ms-flex: 0 1 266px;
    flex: 0 1 266px;
    display: none;
    margin: 13px 10px 7px 0;
    min-width: 0
}

@media (min-width: 1024px) {
    .layout-navigation-bar-search {
        display: block
    }
}

.layout-navigation-search__list__history-empty {
    display: block;
    padding: 10px 16px 11px;
    font-size: 15px;
    line-height: 21px;
    color: #bdbdbd
}

@media (min-width: 768px) {
    .layout-navigation-search-modal.react-modal {
        -webkit-box-align: end;
        -ms-flex-align: end;
        -webkit-align-items: flex-end;
        -moz-align-items: flex-end;
        align-items: flex-end
    }
}

.layout-navigation-search-modal.react-modal.open > .react-modal__content-wrap {
    transform: none
}

.layout-navigation-search-modal.react-modal > .react-modal__content-wrap {
    width: 100%;
    height: 100%;
    overflow: visible;
    background-color: #fff;
    transform: translateX(50px)
}

@media (min-width: 768px) {
    .layout-navigation-search-modal.react-modal > .react-modal__content-wrap {
        min-width: 256px;
        max-width: 326px
    }
}

.layout-navigation-search-modal__content.react-modal__content {
    margin: 0;
    border-radius: 0;
    height: 100%
}

@media (min-width: 768px) {
    .layout-navigation-search-modal__content.react-modal__content {
        width: 100%
    }
}

.layout-navigation-search-modal__search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.layout-navigation-search-modal__search .layout-navigation-search__header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 15px
}

@media (min-width: 768px) {
    .layout-navigation-search-modal__search .layout-navigation-search__header {
        padding: 30px 30px 5px
    }
}

.layout-navigation-search-modal__search .layout-navigation-search__list {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    position: static;
    max-height: none;
    margin: 0 30px 15px;
    width: auto
}

.layout-navigation-search-modal__search .layout-navigation-search__list:empty {
    display: none
}

@media (max-width: 767px) {
    .layout-navigation-search-modal__search .layout-navigation-search__list {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0px;
        -moz-box-flex: 1;
        -moz-flex: 1 0 0px;
        -ms-flex: 1 0 0px;
        flex: 1 0 0px;
        margin: 0;
        padding: 0 8px 8px;
        border: none;
        border-radius: 0;
        box-shadow: none
    }
}

.layout-navigation-search-modal__search__close {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 0 0 15px;
    padding: 9px 5px 10px;
    font-size: 15px;
    font-weight: 700;
    color: #424242;
    border: none;
    background: none;
    line-height: 21px
}

@media (min-width: 768px) {
    .layout-navigation-search-modal__search__close {
        display: none
    }
}

@media (min-width: 1024px) {
    .layout-navigation-bar-search-button {
        display: none
    }
}

.drop-down {
    position: relative;
    display: inline-block
}

.drop-down__content {
    z-index: 1000
}

<!--
로그인

-->
.layout-navigation-bar-login {
    display: none;
    margin: 20px -9px 16px -7px;
    white-space: nowrap
}

@media (min-width: 768px) {
    .layout-navigation-bar-login {
        display: inline-block;
        top: 20px;
        position: relative;
    }
}

.layout-navigation-bar-login__item {
    position: relative;
    display: inline-block;
    margin: 0 9px 0 8px;
    padding: 2px;
    color: #757575;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px
}

.layout-navigation-bar-login__item.focus-visible:focus {
    color: #35c5f0
}

@media (min-width: 768px) {
    .layout-navigation-bar-login__item:active, .layout-navigation-bar-login__item:hover {
        color: #35c5f0
    }
}

.layout-navigation-bar-login__item::-moz-focus-inner {
    border: 0
}

.layout-navigation-bar-login__item.focus-visible:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(130, 224, 250, .5);
    border-radius: 3px
}

.layout-navigation-bar-login__item:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 100%;
    bottom: 3px;
    margin-left: 8px;
    border-right: 1px solid #757575
}

.layout-navigation-bar-login__item:last-child:after, .layout-navigation-bar-user-section.drop-down {
    display: none
}

<!--
아이콘-- >
.layout-navigation-bar-icon {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: inline-block;
    margin: 7px 1px;
    padding: 6px;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    transition: background .1s;
    border-radius: 100%
}

@media (min-width: 768px) {
    .layout-navigation-bar-icon {
        margin: 15px 1.5px 9px
    }
}

.layout-navigation-bar-icon.focus-visible:focus {
    background-color: #35c5f0
}

.layout-navigation-bar-icon.focus-visible:focus > .icon {
    color: #fff
}

@media (min-width: 768px) {
    .layout-navigation-bar-icon:active, .layout-navigation-bar-icon:hover {
        background-color: #35c5f0
    }

    .layout-navigation-bar-icon:active > .icon, .layout-navigation-bar-icon:hover > .icon {
        color: #fff
    }
}

.layout-navigation-bar-icon--hide-mobile {
    display: none
}

@media (min-width: 768px) {
    .layout-navigation-bar-icon--hide-mobile {
        display: inline-block
    }
}

.layout-navigation-bar-icon > .icon {
    position: relative;
    top: 6px;
<!-- left: 6 px;
--> transition: color .1s;
    color: #757575
}

.layout-navigation-bar-icon__ticker {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 15px;
    height: 15px;
    font-size: 10px;
    padding: 0 4px;
    font-weight: 700;
    line-height: 13px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    background-color: #f77;
    border-radius: 15px
}

@media (min-width: 768px) {
    .layout-navigation-bar-icon__ticker {
        top: 0;
        right: 0;
        min-width: 21px;
        height: 21px;
        padding: 0 4px;
        font-size: 12px;
        line-height: 19px;
        border-radius: 21px
    }
}

.layout-navigation-bar-drawer-button.layout-navigation-bar-icon > .icon {
    color: #35c5f0
}

.layout-navigation-bar-drawer-button.layout-navigation-bar-icon.focus-visible:focus {
    background-color: #35c5f0
}

.layout-navigation-bar-drawer-button.layout-navigation-bar-icon.focus-visible:focus > .icon {
    color: #fff
}

@media (min-width: 768px) {
    .layout-navigation-bar-drawer-button.layout-navigation-bar-icon:active, .layout-navigation-bar-drawer-button.layout-navigation-bar-icon:hover {
        background-color: #35c5f0
    }

    .layout-navigation-bar-drawer-button.layout-navigation-bar-icon:active > .icon, .layout-navigation-bar-drawer-button.layout-navigation-bar-icon:hover > .icon {
        color: #fff
    }
}

<!--
footer

-->
.layout-footer__cs {
    margin: 0 0 25px;
    font-size: 12px;
    line-height: 16px
}

.layout-footer__cs__link {
    display: inline-block;
    font-weight: 700;
    color: #424242
}

.layout-footer__cs__link > .icon {
    margin-left: 1px;
    vertical-align: -1px;
    font-size: 11px
}

.layout-footer__cs__tel {
    display: inline-block;
    margin: 2px 0 0;
    font-size: 28px;
    font-weight: 700;
    color: #424242;
    line-height: 36px
}

.layout-footer__cs__time {
    color: #757575
}

.layout-footer__outbound {
    margin: -3px -7px 25px
}

.layout-footer__outbound__item {
    display: inline-block;
    padding: 3px;
    margin: 0 4px
}

.layout-footer__shortcut {
    margin: 0 -5px 10px
}

.layout-footer__shortcut > li {
    display: inline
}

.layout-footer__shortcut__item {
    display: inline-block;
    margin: 0 3px;
    padding: 2px;
    font-size: 10px;
    font-weight: 700;
    color: #424242;
    line-height: 16px
}

.layout-footer__info {
    display: block;
    margin: 0 -5px;
    font-size: 10px;
    color: #757575;
    line-height: 16px
}

.layout-footer__info__item {
    display: inline-block;
    margin: 0 3px;
    padding: 2px
}

.layout-footer__info__item dd, .layout-footer__info__item dt {
    display: inline
}

.layout-footer__info__item dt:after {
    content: " : "
}

.layout-footer__info__item__link {
    font-weight: 700
}

.layout-footer {
    display: block;
    background-color: #fafafa
}

.layout-footer a::-moz-focus-inner {
    border: 0
}

.layout-footer a.focus-visible:focus {
    outline: none;
    border-radius: 3px;
    box-shadow: 0 0 0 3px rgba(130, 224, 250, .5)
}

.layout-footer__content {
    display: block;
    max-width: 1256px;
    margin: 0 auto;
    padding: 30px 15px 40px;
    box-sizing: border-box
}

@media (min-width: 768px) {
    .layout-footer__content {
        padding: 30px 40px 40px
    }
}

@media (min-width: 1024px) {
    .layout-footer__content {
        padding: 30px 60px 40px
    }
}

@media (min-width: 768px) {
    .layout-footer__top {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between
    }
}

.layout-footer__copyright {
    margin: 10px 0 0;
    font-size: 10px;
    color: #424242;
    line-height: 16px
}

.layout, .page, body, html {
    height: 100%
}

.layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.layout > .layout-footer {
    margin-top: auto
}

.layout > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

<!--
두번째네비게이션바-- >
.padding__item {
    position: relative;
    display: inline-block;
    font-size: 13px;
    line-height: 1;
    font-family: inherit;
    font-weight: 700;
    margin: 6px 4px;
    padding: 8px 4px 7px;
    border: none;
    background: none;
    color: #424242;
    cursor: pointer;
    vertical-align: bottom
}

@media (min-width: 768px) {
    .layout-navigation-secondary__menu__item {
        font-size: 15px;
        line-height: 23px;
        margin: 8px 4px;
        padding: 6px 8px 4px;
        color: #424242
    }
}

.layout-navigation-padding__menu__item.focus-visible:focus {
    color: #35c5f0
}

@media (min-width: 768px) {
    .layout-navigation-secondary__menu__item:active, .layout-navigation-secondary__menu__item:hover {
        color: #35c5f0
    }
}

.layout-navigation-secondary__menu__item::-moz-focus-inner {
    border: 0
}

.layout-navigation-secondary__menu__item.focus-visible:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(130, 224, 250, .5);
    border-radius: 3px
}

.layout-navigation-secondary__menu__item.hide-mobile {
    display: none
}

@media (min-width: 768px) {
    .layout-navigation-secondary__menu__item.hide-mobile {
        display: inline-block
    }
}

.layout-navigation-secondary__menu__item--active, .layout-navigation-secondary__menu__item--open {
    color: #35c5f0
}

.layout-navigation-primary__menu__item:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: 4px -4px 0;
    height: 2px;
    background-color: #35c5f0
}

@media (min-width: 768px) {
    .layout-navigation-secondary__menu__item--active:after {
        margin: 6px -4px 0
    }
}

.layout-navigation-secondary__menu__item > .new-icon {
    margin: -2px 0 -2px 1px;
    vertical-align: 0
}

.layout-navigation-secondary {
    transition: top .1s;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    z-index: 501
}

.layout-navigation-secondary--query {
    background-color: #f7f8fa;
    transition: top .1s;
    border-bottom: 1px solid #ededed;
    z-index: 501
}

.layout-navigation-secondary__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    position: relative;
    min-height: 40px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: auto
}

@media (min-width: 768px) {
    .layout-navigation-secondary__content {
        min-height: 49px;
        max-width: 1256px
    }
}

.layout-navigation-secondary__menu {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0;
    padding: 0 4px;
    min-width: 0;
    white-space: nowrap;
    font-size: 0;
    text-align: center
}

@media (min-width: 768px) {
    .layout-navigation-secondary__menu {
        padding: 0 0 0 40px;
        margin: 0 8px 0 -12px;
        text-align: left
    }
}

@media (min-width: 1024px) {
    .layout-navigation-secondary__menu {
        padding: 15px 0 0 60px
    }
}

.layout-navigation-tertiary {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    z-index: 500;
    opacity: 0;
    transform: translateY(-100%)
}

@media (min-width: 768px) {
    .layout-navigation-tertiary {
        display: block
    }
}

.layout-navigation-tertiary.exiting, .layout-navigation-tertiary.opening {
    transition: opacity .2s, transform .2s
}

.layout-navigation-tertiary.open {
    opacity: 1;
    transform: none
}

.toast-message {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: 100%;
    height: 80px;
    border-radius: 8px;
    background-color: #fff;
    color: #424242;
    font-size: 15px;
    transition: opacity .3s, transform .3s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .26)
}

.toast-message:first-of-type {
    margin-bottom: 10px
}

.toast-message:last-of-type {
    padding-bottom: env(safe-area-inset-bottom)
}

@media (max-width: 767px) {
    .toast-message {
        border-radius: 0;
        font-size: 15px;
        height: 56px;
        box-shadow: none
    }

    .toast-message:first-of-type {
        box-shadow: 0 -20px 20px 0 rgba(0, 0, 0, .07);
        margin-bottom: 0
    }

    .toast-message:last-of-type {
        border-top: 1px solid #dbdbdb
    }
}

@media (max-width: 374px) {
    .toast-message {
        font-size: 13px
    }
}

.toast-message--first {
    animation: toastGoToTopPc .3s
}

@media (max-width: 767px) {
    .toast-message--first {
        animation: toastGoToTopMoblie .3s
    }
}

.toast-message-transition-enter {
    transform: translateY(100%);
    opacity: 0
}

.toast-message-transition-enter-active, .toast-message-transition-exit {
    transform: translateY(0);
    opacity: 1
}

.toast-message-transition-exit-active {
    transform: translateY(-100%);
    opacity: 0
}

@media (min-width: 768px) {
    .toast-message-transition-exit-active {
        transform: translateY(calc(-100% - 10px))
    }
}

@media (max-width: 767px) {
    .toast-message--img.toast-message {
        height: 80px
    }
}

.toast-message--clickable {
    cursor: pointer
}

.toast-message-root {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000101;
    width: 440px;
    box-sizing: border-box
}

@media (max-width: 767px) {
    .toast-message-root {
        width: 100%;
        bottom: 0
    }
}

.toast-message__header {
    margin-right: 16px
}

.toast-message__header__img {
    width: 64px;
    height: 64px;
    background: #dbdbdb;
    border-radius: 4px;
    background-size: cover;
    background-position: 50%
}

.toast-message__body {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    white-space: pre-wrap
}

@media (min-width: 768px) {
    .toast-message__body:last-child {
        margin-right: 20px
    }
}

@media (max-width: 374px) {
    .toast-message > .toast-message__button {
        font-size: 13px;
        padding: 8px 10px
    }
}

.toast-message > .toast-message__button--link {
    margin-right: 6px
}

.toast-message > .toast-message__button--btn {
    margin-right: 16px
}

@media (max-width: 374px) {
    .toast-message > .toast-message__button--btn {
        margin-right: 10px
    }
}

.toast-message__footer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 52px;
    -moz-box-flex: 0;
    -moz-flex: 0 0 52px;
    -ms-flex: 0 0 52px;
    flex: 0 0 52px;
    text-align: center;
    height: 100%;
    position: relative;
    border: 0;
    border-radius: 8px;
    background-color: #fff
}

@media (max-width: 767px) {
    .toast-message__footer {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 44px;
        -moz-box-flex: 0;
        -moz-flex: 0 0 44px;
        -ms-flex: 0 0 44px;
        flex: 0 0 44px
    }
}

@media (max-width: 374px) {
    .toast-message__footer {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 30px;
        -moz-box-flex: 0;
        -moz-flex: 0 0 30px;
        -ms-flex: 0 0 30px;
        flex: 0 0 30px
    }
}

.toast-message__footer > * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.toast-message__footer__close {
    width: 44px;
    height: 44px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    background-color: #fff;
    border-radius: 22px;
    cursor: pointer
}

@media (max-width: 374px) {
    .toast-message__footer__close {
        width: 30px
    }
}

.toast-message__footer__close__icon {
    width: 18px;
    height: 18px
}

@media (max-width: 767px) {
    .toast-message__footer__close__icon {
        width: 12px;
        height: 12px
    }
}

@media (min-width: 768px) {
    .toast-message__footer:hover .toast-message__footer__close {
        background-color: rgba(0, 0, 0, .05)
    }
}

@keyframes toastGoToTopPc {
    0% {
        transform: translateY(calc(100% + 10px))
    }
    to {
        transform: translateY(-10px)
    }
}

@keyframes toastGoToTopMobile {
    0% {
        transform: translateY(100%)
    }
    to {
        transform: translateY(0)
    }
}