.container{
    width: 1000px;
    margin: 0 auto;
    text-align-all: center;

}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: auto;
    padding: 1px;
}