@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


.searchBar{
    margin-top: 5px;
    margin-right: 10px;
}
.logo-font {
    font-family: "Black Han Sans";
    font-size: 25px;
}
body {
    font-family: 'Noto Sans KR', 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}
.sub-font{
    font-size: 17px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    width: 100px;
}

.dropdown-item{
    width: 100px;
}

.navbar a {
    display:inline-block;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
}

@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:0;
    }
}

@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}

.navbar .navbar-form {

    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar a:hover {
    background-color: white;
    color:rgb(92, 195, 255);
}

.fas:hover{
    background-color: white;
    color:rgb(92, 195, 255);
}

.navbar-light .btn-navbar, .navbar-light .form-control-navbar {
    background-color: #f2f4f6;
    border: 0;
}



