<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="th/layout/defaultLayout">
<head>
    <meta charset="UTF-8">
    <title>사진 목록</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mainContent.css}">
        <link rel="stylesheet" th:href="@{/css/photoBoard.css}">
    </th:block>

    <th:block layout:fragment="js">
        <script type="text/javascript" th:src="@{/js/photoList.js}"></script>
    </th:block>

    <script type="text/javascript" th:inline="javascript">history.scrollRestoration = "auto"</script>
</head>
<body>
<div layout:fragment="content">
    <div class="container store-index-section store-index-product-list"><h1>사진</h1>
        <div class="form-group">
            <button class="button button--color-gray-4 button--size-30 button--shape-4 card-detail-writer__follow"
                    onclick="location.href='/photoInsert'" type="button">글쓰기</button>
            <!--<button th:if="${member == null}" class="button button&#45;&#45;color-gray-4 button&#45;&#45;size-30 button&#45;&#45;shape-4 card-detail-writer__follow"
                    onclick="location.href='/customLogin'" type="button">글쓰기</button>-->
        </div>
        <div th:id="autoScroll" class="virtualized-list row" style="padding-top:0px; transform: translateY(0px);">
            <tr th:each="photo : ${photoList}">
                <div class="col-6 col-md-3 product-item-wrap">
                    <article class="production-item">
                        <a class="production-item__overlay" th:href="@{/photodetail/{photoBoardNo}(photoBoardNo=${photo.photoBoardNo})}"></a>
                        <div class="production-item-image production-item__image">
                            <img class="image" alt="" th:src="@{'/uploadImg'+${photo.photoImg1}}" srcset="">
                        </div>
                    </article>
                </div>
            </tr>
        </div>
    </div>
</div>
</body>
</html>