<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="th/layout/defaultLayout">
<head>
    <meta charset="UTF-8">
    <title>사진 상세보기</title>


</head>
<body>
<div layout:fragment="content">

      <div class="form-group">
          <img th:src="'/uploadImg'+${photodetail.photoImg1}" style="width: 500px; height: 500px;"/>
      </div>
      <div class="form-group">
          <th:block th:text="${photodetail.photoContent}"/>
      </div>

    <div class="form-group">
        <input type="hidden" name="memberId" value="memberId">
        <th:block th:text="${photodetail.memberId}"/>
    </div>

    <div class="form-group">
        <input type="button" id="like" name="like" value="좋아요"/> <!-- 버튼 이미지만들고, th:if로 좋아요, 취소 만들어야함. 스크랩도 마찬가지-->
        <input type="button" id="scrap" name="scrap" value="스크랩"/>
    </div>
    <div class="form-group">
        <tr th:each="photo : ${userphoto}">
        <img th:src="'/uploadImg'+${photo.photoImg1}" style="width:200px; height: 200px;"/>
        </th:each>
        </tr>
    </div>
    <div class="form-group">
        <th:block th:text="${photodetail.areaType}" />
    </div>


</div>
</body>
</html>