<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사진 목록</title>
</head>
<body>

<h2>사진 목록</h2><!-- 완성되면 삭제-->

<div class="container">
    <table class="table table-hover">
        <th:block th:each="photo : ${photolist}">
            <tr>
                <td th:onclick="'location.href=\''+@{/photodetail/{photoBoardNo}(photoBoardNo)=${photo.photoBoardNo})}+'\''"
                    th:utext="${photo.photothumb}" th:text="${photo.photoTitle}"/>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>