<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="th/layout/defaultLayout">
<head>
    <meta charset="UTF-8">
    <title>사진 목록</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mainContent.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content">
<div class="container store-index-section store-index-product-list"><h1>사진</h1><!-- 완성되면 삭제-->
    <div class="virtualized-list row" style="padding-top:0px; transform: translateY(0px);">
        <tr th:each="photo : ${photoList}">
            <div class="col-6 col-md-3 product-item-wrap">
                <article class="production-item"><a class="production-item__overlay" th:href="@{/photodetail/{photoBoardNo}(photoBoardNo=${photo.photoBoardNo})}"></a>
                    <div class="production-item-image production-item__image">
                        <img class="image" alt="" th:src="@{'/uploadImg'+${photo.photoImg1}}" srcset="">
                    </div>
                    <div class="production-item__content">
                        <h1 class="production-item__header">
                            <span class="production-item__header__name" th:text="${photo.photoTitle}"></span>
                        </h1>
                    </div>
                </article>
            </div>
        </tr>
    </div>
</div>
</div>
</body>
</html>