<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>질문 게시판</title>
</head>
<script type="text/javascript">
    function reply(idx) {
        var askBoardno = idx;
        location.href = "/askreply/" + askBoardno;
    }

    function del(idx) {
        var askBoardno = idx;

        var result = confirm("정말 삭제하시겠습니까?");

        if (result) {
            location.href = "/askdelete/" + askBoardno;

        }
    }

    function update(idx) {
        var askBoardno = idx;
        location.href = "/askupdate/" + askBoardno;
    }
</script>
<body>

<h2>게시글 상세</h2>
<button class="btn btn-primary" th:onclick="'javascript:update('+${detail.askBoardno}+');'">수정</button>
<button class="btn btn-danger" th:onclick="'javascript:del('+${detail.askBoardno}+');'">삭제</button>
<button class="btn btn-primary" th:onclick="'javascript:reply('+${detail.askBoardno}+');'">답변하기</button>

<div class="container">
    <form action="/askinsertProc" method="POST">
        <div clas="form-group">
            <label>제목</label>
            <th:block th:text="${detail.askTitle}"/>
        </div>
        <div clas="form-group">
            <label>작성자</label>
            <th:block th:text="${detail.memberId}"/>
        </div>
        <div clas="form-group">
            <label>작성날짜</label>
            <th:block th:text="${detail.askDate}"/>
        </div>
        <div clas="form-group">
            <label>내용</label>
            <th:block th:utext="${detail.askContent}"/>
        </div>
    </form>
</div>
</body>
</html>