<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="th/layout/defaultLayout">
<head>
    <meta charset="UTF-8">
    <title>질문게시판</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/askBoard.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
    <h2>게시글 목록</h2>
        <button type="button" id="askWrite" name="askWrite" onclick="location.href='/askinsert'"
                class="button button--color-gray-4 button--size-30 button--shape-4 card-detail-writer__follow">글쓰기</button>
    <table class="table table-hover">
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>

        <th:block th:each="board : ${list}">
            <tr th:onclick="'location.href=\''+@{/askdetail/{askBoardNo}(askBoardNo=${board.askBoardNo})}+'\''">
                <td th:text="${board.askBoardNo}"/>
                <td>
                    <th:block th:text="${board.askTitle}"/>
                </td>
                <td th:text="${board.memberId}"/>
                <td th:text="${board.askDate}"/>
            </tr>
        </th:block>
    </table>
</div>
</div>
</body>
</html>


