<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>

    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" th:src="@{/editor/js/HuskyEZCreator.js}" charset="utf-8"></script>
</head>
<script type="text/javascript">
    $(function(){
        var obj=[];

        nhn.husky.EZCreator.createInIFrame({
            oAppRef: obj,
            elPlaceHolder: "askContent",
            sSkinURI : "/editor/SmartEditor2Skin.html",
            htParams:{
                bUseToolbar : true,
                bUseVerticalResizer: true,
                bUseModeChanger : true,
            }
        });

        $("#insertBoard").click(function(){
            obj.getById["askContent"].exec("UPDATE_CONTENTS_FIELD", []);
            $("#insertBoardFrm").submit();
        });
    });
</script>
<body>
<h2>글 쓰기</h2>

<div class="container">
    <form action="/insertProc" method="post" id="insertBoardFrm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="askTitle">제목</label>
            <input type="text" id="askTitle" name="askTitle" placeholder="제목을 입력하세요">
        </div>
        <div class="form-group">
            <label for="memberId">작성자</label>
            <input type="text" id="memberId" name="memberId" placeholder="아이디는 자동으로 받을것">
        </div>
        <div class="form-group">
            <label for="askContent">내용</label>
            <textarea id="askContent" name="askContent" style="width: 700px; height: 400px;"></textarea>
        </div>
        <input type="button" id="insertBoard" value="등록"/>
    </form>
</div>

</body>
</html>