<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>답변작성</title>

    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/resources/editor/js/HuskyEZCreator.js" charset="utf-8"></script>
</head>
<script type="text/javascript">
    $(function(){
        var obj = [];

        nhn.husky.EZCreator.createInIFrame({
            oAppRef: obj,
            elPlaceHolder: "editor",
            sSkinURI: "/resources/editor/SmartEditor2Skin.html",
            htParams : {
                bUseToolbar: true,
                bUseVerticalResizer: true,
                bUseModeChanger: true,
            }
        });
        $("#replyInsertBoard").click(function(){
            obj.getById["editor"].exec("UPDATE_CONTENTS_FIELD", []);
            $("#replyInsertBoardFrm").submit();
        });
    });
</script>
<body>
<h2>답글 작성</h2>

<div class="container">
    <form action="/replyProc" method="post" id="replyInsertBoardFrm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="askTitle">제목</label>
            <input type="text" th:value="'RE: '+${detail.askTitle}" id="askTitle" name="askTitle" readonly/>
        </div>
        <div class="form-group">
            <label for="memberId">작성자</label>
            <input type="text"  id="memberId" name="memberId" readonly/><!-- value값은 세션-->
        </div>
        <div class="form-group">
            <label for="editor">내용</label>
            <textarea name="editor" id="editor" style="width: 700px; height: 400px;"></textarea>
        </div>
        <input type="button" id="replyInsertBoard" value="등록"/>
    </form>
</div>
</body>