<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="th/layout/defaultLayout">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/askBoard.css}">
    </th:block>
    <script type="text/javascript" th:src="@{/editor/js/HuskyEZCreator.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/askBoard.js}"></script>
</head>
<body>
<div layout:fragment="content">
<div class="container">
    <h2>글 쓰기</h2>
        <form action="/askinsertProc" method="post" id="insertBoardFrm" enctype="multipart/form-data">
            <div class="mt-4 mb-3">
                <label for="askTitle">제목<span class="text-muted"/></label>
                <input type="text" id="askTitle" name="askTitle" placeholder="제목을 입력하세요">
            </div>
            <div class="mt-4 mb-3">
                <label for="askContent">내용<span class="text-muted"/></label>
                <textarea id="askContent" name="askContent" style="width: 700px; height: 400px;"></textarea>
            </div>
            <button class="button button--color-gray-4 button--size-30 button--shape-4 card-detail-writer__follow"
                    id="insertBoard" name="insertBoard">등록</button>
        </form>
    </div>
</div>
</div>
</body>
</html>