<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script type="text/javascript" th:src="@{/js/chatting.js}"></script>
    <meta charset="UTF-8">
    <title>채팅방</title>
    <style>
        .chatting{
            background-color: #2e97f4;
            width: 500px;
            height: 500px;
            overflow: auto;
        }
        .chatting .me{
            color: #F6F6F6;
            text-align: right;
        }
        .chatting .others{
            color: #FFE400;
            text-align: left;
        }
    </style>
</head>
<body>
<div id="container" class="container">
    <h1>채팅방 입장!</h1>
    <button class="btn btn-primary" onclick="disconnect()" th:id="outBtn">나가기</button>
    <div id="chatting" class="chatting">
    </div>
<div id="sendMsg">
    <table class="inputTable">
        <tr>
            <th class="input-group-prepend"><label class="input-group-text">메시지</label></th>
            <th><input class="form-control" type="text" id="message" placeholder="보내실 메시지를 입력하세요."></th>
            <th class="input-group-append"><button class="btn btn-primary" onclick="sendMsg()" th:id="sendBtn">보내기</button></th>
        </tr>
    </table>
</div>
    <script th:inline="javascript">
        var chatId=[[${chatInfo.chatId}]];
        console.log(chatId);
        var admin=[[${chatInfo.adminId}]];
        console.log("이건 관리자아이디!!!!!!"+admin);
        if(admin==null){
            var sender=[[${chatInfo.memberId}]];
            console.log("이건 멤버아이디!!!!!!"+sender);
        } else{
            var sender=[[${chatInfo.adminId}]];
            console.log("이건 관리자아이디!!!!!!"+sender);
        }
    </script>
</div>
</body>
</html>