<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품상세 LJH</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<body>
<h1>상품상세 LJH</h1>
<input type="hidden" id="productName" value="김치맨두사장님21">나무나무상자</input>
<input type="hidden" id="productNo" value="productNoPoks">
<form action="/basket" method="get">
    <input type="button" value="저장" onClick="saveSessionStorage();"/>
    <input type="submit" value="장바구니모양" id="basketBtn" onClick="saveSessionStorage();">
</form>
안녕
<a href="basketPop" onclick="window.open(this.href, '_blank', 'width=300px,height=300px,resizable=no,scrollbars=no,status=no,left=0px,top=0px'); return false;">팝업 </a>

<div id="output">
    <!-- 저장된 내용을 출력할 DIV 엘리먼트 -->
</div>

<script type="text/javascript">
    var i = 0;
    var arrValue = new Array();
    //var arrReal = new Array();
    var len = sessionStorage.length;
    var key;
    document.addEventListener("DOMContentLoaded", function() {
        if(window.sessionStorage) {

            // 해당 예제를 실행하기전 이전 세션의 데이터를 clear( ) 메서드를 사용해 전부 삭제한다.
            console.log("sessionStorage가 있음");
            //console.log("session : " + window.sessionStorage);
            //console.log("object : " + printSessionStorage());
            //sessionStorage.clear();
        }
        else {
            alert("세션을 사용할 수 없는 브라우저입니다.");
        }

    });

    function printSessionStorage() {
        var i=0;
        var output = "";

        console.log("len : " + len);
        // div 태그에 로컬 저장소의 내용을 출력한다.
        for (key in window.sessionStorage) {
            output += "<p>";
            // getItem( ) 메서드를 이용하여 key 값의 value 값을 찾는다.
            output += key + " : " + sessionStorage.getItem(key);
            output += "<br>";
            output += "</p>";
            if(i<len){
                arrValue[i] = sessionStorage.getItem(key);
                //arrValue[i] = JSON.stringify(sessionStorage.getItem(key));

                i++
            }

        }
        console.log(arrValue);
        console.log(arrValue[0]);
        /*for (var i = 0; i < sessionStorage.length; i++) {
            var keyTest = window.sessionStorage;
            arrValue[i] = JSON.stringify(sessionStorage.getItem(keyTest));
            //    console.log(keyTest);
            //   console.log(window.sessionStorage.length);        }
            //console.log("keyTest : " + keyTest);
            //console.log("Json:"+JSON.stringify(sessionStorage.getItem(keyTest)));

        }*/
        var form = {
            value : 1,
            hoho : arrValue
        }
        console.log("form : " +form.hoho[0]);
        console.log("form : " +form.hoho[1]);
        console.log("form : " +form.hoho[2]);
        //jQuery.ajaxSettings.traditional = true;

        $.ajax({
            //console.log("hi");
            url:"basketSession",
            type : "POST",
            traditional:true,
            data : {'hoho' : arrValue}
            ,
            success: function(){
                console.log("success");
            },
            error: function(){
                alert("test err");
            }
        });
        document.getElementById("output").innerHTML = output;
    }
    function saveSessionStorage() {

        // 변수를 선언한다.
        var key = document.getElementById("productName").value;
        var value = document.getElementById("productNo").value;
        //var key1 = document.getElementById("option2").value;
        //var value1 = document.getElementById("option1").value;
        //그 li 안에

        // setItem( ) 메서드를 이용하여 key를 지정하고, value값을 세션에 저장한다.
        sessionStorage.setItem(key, JSON.stringify(value));
        //console.log("세션가자");
        // console.log(sessionStorage.getItem(key));
        // console.log(JSON.stringify(value));
        // console.log(value);

        // 데이터를 출력한다.asdasdasd
        printSessionStorage();

    }

</script>
</body>
</html>