<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="th/layout/defaultLayout">
<head>
    <meta charset="UTF-8">
    <title>베스트상품</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mainContent.css}">
        <link rel="stylesheet" th:href="@{/css/storeBest.css}">
    </th:block>

</head>
<body>
<div layout:fragment="content">
    <div class="ranking-feed" id="ranking-type-filter">
        <ol class="ranking-type-filter">
            <a href="#">
                <li class="ranking-type-filter__item ranking-type-filter__item--left left--active">
                    판매량</li>
            </a>
            <a href="#">
                <li class="ranking-type-filter__item ranking-type-filter__item--right">신제품</li>
            </a>
        </ol>
        <div class="container">
            <div class="virtualized-list ranking-feed__content row"
                 style="padding-top: 0px; transform: translateY(0px);">
                <tr th:each="products : ${bestList}">
                <div class="ranking-feed-item-wrap col-12 col-md-12 col-lg-3">
                    <div class="ranking-product-item__wrap">
                        <article class="production-item"><a class="ranking-product-item__link" th:href="@{/productions/productDetails(productNo=${products.productNo})}"></a>
                            <div class="ranking-product-item__number-wrap ranking-product-item__number__medal">
                                <span id="abc" class="ranking-product-item__number" th:text="${products.ranking}" ></span>
                            </div>
                            <div class="ranking-product-item__img-wrap">

                                <div class="production-item-image production-item__image">
                                    <img class="image" alt="" th:src="@{'/uploadImg/'+${products.productMainImg}}" srcset="">
                                </div>
                            </div>
                            <div class="ranking-product-item__content">
                                <h1 class="ranking-product-item__header">
                                    <span class="ranking-product-item__header__brand" th:text="${products.sellerName}"></span>
                                    <span class="ranking-product-item__header__name" th:text="${products.productName}"></span>
                                </h1>
                                <span class="production-item-price">
                                <span class="production-item-price__price" th:text="${#numbers.formatInteger(products.customerPrice, 3, 'COMMA')}"></span>
                                </span>
                            </div>
                        </article>


                    </div>
                </div>
                </tr>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function() {
            $('.ranking-type-filter__item--left').click(function () {
                $('.ranking-type-filter__item--right').removeClass('right--active')
                $('.ranking-type-filter__item--left').addClass('left--active');
            });
            $('.ranking-type-filter__item--right').click(function () {
                $('.ranking-type-filter__item--left').removeClass('left--active');
                $('.ranking-type-filter__item--right').addClass('right--active');
            });

            var ranking = $('.ranking-product-item__number:contains("1")').addClass('ranking-product-item__number__gold');
            ranking.closest('.ranking-product-item__number__medal').addClass('ranking-product-item__number__gold-wrap');
            var ranking = $('.ranking-product-item__number:contains("2")').addClass('ranking-product-item__number__silver');
            ranking.closest('.ranking-product-item__number__medal').addClass('ranking-product-item__number__silver-wrap');
            var ranking = $('.ranking-product-item__number:contains("3")').addClass('ranking-product-item__number__bronze');
            ranking.closest('.ranking-product-item__number__medal').addClass('ranking-product-item__number__bronze-wrap');



        });
    </script>

</div>
</body>
</html>