<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}">
    <!--    <link rel="stylesheet" th:href="@{css/adminlte.min.css}">-->
<!--    <link rel="stylesheet" th:href="@{plugins/summernote/summernote-lite.css}">-->
    <link th:href="@{https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css}" rel="stylesheet">

<!--    <link rel="stylesheet" th:href="@{plugins/ckeditor/contents.css}">-->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css}">
    <link th:href="@{https://fonts.googleapis.com/css}" rel="stylesheet">
</head>

<body>
<form class="needs-validation" th:method="POST" th:action="@{/testCategory}" enctype="multipart/form-data">
    <div class="wrapper">
        <!-- Main content -->

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">카테고리</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form role="form">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <!-- Select multiple-->
                                            <div class="form-group">
                                                <label>대분류</label>
                                                <select multiple class="optionCategory1 form-control">

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <!-- Select multiple-->
                                            <div class="form-group">
                                                <label>중분류</label>
                                                <select multiple class="optionCategory2 form-control">

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <!-- Select multiple-->
                                            <div class="form-group">
                                                <label>소분류</label>
                                                <select multiple class="optionCategory3 form-control"
                                                        name="categoryCode">

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">상품정보</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="productName">상품명</label>
                            <input type="text" class="form-control" name="productName" id="productName"
                                   placeholder="productName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="modelName">모델명</label>
                            <input type="text" class="form-control" name="modelName" id="modelName"
                                   placeholder="modelName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="sellerName">업체명</label>
                            <input type="text" class="form-control" name="sellerName" id="sellerName"
                                   placeholder="sellerName" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="customPrice">판매가</label>
                            <input type="text" class="form-control" name="customPrice" id="customPrice"
                                   placeholder="customPrice">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="sellPrice">소비자가</label>
                            <input type="text" class="form-control" name="sellPrice" id="sellPrice"
                                   placeholder="sellPrice">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="purchasePrice">매입가</label>
                            <input type="text" class="form-control" name="purchasePrice" id="purchasePrice"
                                   placeholder="purchasePrice">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="optionColor">색상</label>
                            <select class="optionColor form-control" id="optionColor">

                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="productQty">재고</label>
                            <input class="form-control" type="text" name="productQty" id="productQty"
                                   placeholder="수량">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>상품 이미지 등록</label>
                        <div class="input-group row">
                            <div class="custom-file col-md-3">
                                <input type="file" class="custom-file-input" name="file" id="exampleInputFile1"
                                       multiple>
                                <label class="custom-file-label" for="exampleInputFile1">Choose file</label>
                            </div>
                            <div class="custom-file col-md-3">
                                <input type="file" class="custom-file-input" name="file" id="exampleInputFile2"
                                       multiple>
                                <label class="custom-file-label" for="exampleInputFile2">Choose file</label>
                            </div>
                            <div class="custom-file col-md-3">
                                <input type="file" class="custom-file-input" name="file" id="exampleInputFile3"
                                       multiple>
                                <label class="custom-file-label" for="exampleInputFile3">Choose file</label>
                            </div>
                            <div class="custom-file col-md-3">
                                <input type="file" class="custom-file-input" name="file" id="exampleInputFile4"
                                       multiple>
                                <label class="custom-file-label" for="exampleInputFile4">Choose file</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">에디터</h3>
                </div>


                <div class="form-group">
                    <div id="summernote" name="file"><p>Hello Summernote</p></div>
                </div>

            </div>
        </div>
        <!-- /.content -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>

        <button type="submit" class="btn btn-primary">Submit</button>


    </div>
</form>

<script th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>
<script th:src="@{plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!--<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"-->
<!--        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script th:src="@{plugins/summernote/summernote-lite.js}"></script>-->
<!--<script th:src="@{plugins/ckeditor/ckeditor.js}"></script>-->
<script th:src="@{https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js}"></script>
<script th:src="@{plugins/bs-custom-file-input/bs-custom-file-input.min.js}"></script>


<script type="text/javascript">
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>

<script th:inline="javascript">
    var jsonColor = [[${jsonColor}]];
    var jsonDataColor = JSON.parse(jsonColor);
    console.log(jsonColor);

    var colorArr = new Array();
    var colorObj = new Object();

    var colorSelect = $(".optionColor");

    for (var i = 0; i < jsonDataColor.length; i++) {

        colorObj = new Object();
        colorObj.colorCode = jsonDataColor[i].colorCode;
        colorObj.colorType = jsonDataColor[i].colorType;
        colorArr.push(colorObj);
    }

    for (var j = 0; j < colorArr.length; j++) {
        colorSelect.append("<option value='" + colorArr[j].colorCode + "'>" + colorArr[j].colorType + "</option>");
    }
</script>

<script th:inline="javascript">
    $(document).ready(function () {
        $('.form-group').on('click', '.optionCategory3', function (event) {
            $('optionCategory3').attr('name', '');
            $(event.target).attr('name', 'categoryCode');
            console.log($(event.target).val());
        });

        var json = [[${jsonText}]];
        var jsonData = JSON.parse(json);

        var cate1Select = $(".optionCategory1");
        var cate2Select = $(".optionCategory2");
        var cate3Select = $(".optionCategory3");

        var Num;

        var cate1Arr = new Array();
        var cate1Obj = new Object();


        for (var i = 0; i < jsonData.length; i++) {
            Num = Number(jsonData[i].categoryCode);

            if (Num % 100000000 == 0) {

                cate1Obj = new Object();
                cate1Obj.categoryCode = jsonData[i].categoryCode;
                cate1Obj.categoryType = jsonData[i].categoryType;
                cate1Arr.push(cate1Obj);
            }
        }

        for (var j = 0; j < cate1Arr.length; j++) {

            cate1Select.append("<option value='" + cate1Arr[j].categoryCode + "'>" + cate1Arr[j].categoryType + "</option>");
        }


        $(document).on("change", "select.optionCategory1", function () {

            var cate2Arr = new Array();
            var cate2Obj = new Object();

            for (var k = 0; k < jsonData.length; k++) {
                Num = Number(jsonData[k].categoryCode);

                if ((Num / 100000) % 1000 > 0 && Num % 100000 == 0) {
                    cate2Obj = new Object();
                    cate2Obj.categoryCode = jsonData[k].categoryCode;
                    cate2Obj.categoryType = jsonData[k].categoryType;
                    cate2Arr.push(cate2Obj);
                }
            }

            cate2Select.children().remove();

            $(cate1Select.find("option:selected"), this).each(function () {
                var selectVal = $(this).val();

                for (var l = 0; l < cate2Arr.length; l++) {
                    if (selectVal / 1000000 == Math.floor(cate2Arr[l].categoryCode / 1000000)) {
                        cate2Select.append("<option value='" + cate2Arr[l].categoryCode + "'>" + cate2Arr[l].categoryType + "</option>");

                    }
                }
            });
        });


        $(document).on("change", "select.optionCategory2", function (e) {

            var cate3Arr = new Array();
            var cate3Obj = new Object();
            for (var m = 0; m < jsonData.length; m++) {
                Num = Number(jsonData[m].categoryCode);
                if ((Num / 100000) % 1000 > 0 && Num % 100000 > 0) {
                    cate3Obj = new Object();
                    cate3Obj.categoryCode = jsonData[m].categoryCode;
                    cate3Obj.categoryType = jsonData[m].categoryType;
                    cate3Arr.push(cate3Obj);
                }
            }

            cate3Select.children().remove();

            $(cate2Select.find("option:selected"), this).each(function () {
                var selectVal2 = $(this).val();
                // console.log(selectVal2);

                for (var n = 0; n < cate3Arr.length; n++) {
                    if (selectVal2 / 1000 == Math.floor(cate3Arr[n].categoryCode / 1000)) {
                        cate3Select.append("<option value='" + cate3Arr[n].categoryCode + "'>" + cate3Arr[n].categoryType + "</option>");

                    }
                }

            });
        });

    });
</script>

<script>
    $('#summernote').summernote({
        height: 300,                 // 에디터 높이
        minHeight: null,             // 최소 높이
        maxHeight: null,             // 최대 높이
        focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
        lang: "ko-KR",					// 한글 설정
        placeholder: '최대 2048자까지 쓸 수 있습니다',	//placeholder 설정
        callbacks: {	//여기 부분이 이미지를 첨부하는 부분
            onImageUpload : function(files) {
                uploadSummernoteImageFile(files[0],this);
            }
        }
    });

    function uploadSummernoteImageFile(file, editor) {
        data = new FormData();
        data.append("file", file);
        $.ajax({
            data : data,
            type : "POST",
            url : "/testCategory",
            contentType : false,
            processData : false,
            success : function(data) {
                //항상 업로드된 파일의 url이 있어야 한다.
                $(editor).summernote('insertImage', data.url);
            }
        });
    }


</script>


</body>

</html>