<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="th/layout/adminLayout">
<head>
    <meta charset="UTF-8">
    <title>채팅리스트</title>

</head>
<body>
<div layout:fragment="content">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>채팅방리스트</h1>
        </div>
        <div th:id="roomContainer" class="roomContainer">
            <table th:id="roomList" class="roomList"></table>
        </div>
    </div>
        <table class="table">
            <thead>
            <tr class="list-group list-group-horizontal">
                <th>회원아이디</th>
                <th></th>
            </tr>
            </thead>
            <tbody th:each="roomList: ${roomLists}">
            <tr class="list-group list-group-horizontal">
                <td th:text="${roomList.memberId}"></td>
                <td><button class="btn btn-primary" th:data-id="${roomList.chatId}" id="createRoom" onclick="enterRoom()">상담시작</button></td>
            </tr>
            </tbody>
        </table>
    <!--<div>
        <tr>
            <th class="num">순서</th>
            <th class="roomName">방 이름</th>
            <th class="enterRoom"></th>
        </tr>
    </div>
    <div>
        <tr th:each="roomList: ${roomLists}">
            <td class="num" th:text="${roomListStat}"></td>
            <td class="roomName" th:text="${roomList.chatId}"></td>
            <td class="enterRoom"><button type="button" th:onclick="|enterRoom${roomList.chatId}|">상담시작</button></td>
        </tr>
    </div>-->

    <!--<table class="inputTable">
        <tr>
            <th class="input-group-prepend"><label class="input-group-text">방이름</label></th>
            <th><input class="form-control" type="text" th:name="roomName" th:id="roomName"></th>
            <th class="input-group-append"><button class="btn btn-primary" th:id="createRoom">방개설</button></th>
        </tr>
    </table>-->
    <script th:inline="javascript" type="text/javascript">
        var chatId=$('#createRoom').attr('data-id');
        function enterRoom() {
            location.href="/enter/"+chatId;
        }
    </script>
</div>
</div>
</body>
</html>